<div class ="sidebar-d py-2 max-h-screen bg-gray-50 main">
  <nav class = "sidebar-nav py-2 w-full bg-gray-50"> 
      <a class="sidebar-a flex flex-row items-center" routerLink="/dashboard" routerLinkActive="active">
          <img src="../../../assets/icons/dashboard.svg" class="px-1 flex active-icon"> 
          Dashboard 
        </a>
        <a class="sidebar-a flex flex-row items-center" routerLink="/profile" routerLinkActive="active">
          <img src="../../../assets/icons/profile.svg" class="px-1 flex active-icon" > 
          Profile 
        </a>
        <a class="sidebar-a flex flex-row items-center" routerLink="/view-other-ads" routerLinkActive="active">
          <img src="../../../assets/icons/advertisement.svg" class="px-1 flex active-icon" > 
          Advertisements 
        </a>
        <a class="sidebar-a flex flex-row items-center" routerLink="/forecast-map" routerLinkActive="active">
          <img src="../../../assets/icons/forecasting.svg" class="px-1 flex active-icon" > 
          Forecasting 
        </a>
        <a class="sidebar-a flex flex-row items-center"  routerLinkActive="active">
          <img src="../../../assets/icons/carriers.svg" class="px-1 flex active-icon" > 
          Carriers 
        </a>
        <a class="sidebar-a flex flex-row items-center"  routerLink="/messaging" routerLinkActive="active">
          <img src="../../../assets/icons/dashboard.svg" class="px-1 flex active-icon" > 
          Messages 
        </a>
        <a class="sidebar-a flex flex-row items-center"  routerLink="/negotiations" routerLinkActive="active">
          <img src="../../../assets/icons/negotiations.svg" class="px-1 flex active-icon" > 
          Negotiations 
        </a>
        <a class="sidebar-a flex flex-row items-center"  routerLink="/my-ad" routerLinkActive="active">
          <img src="../../../assets/icons/ad.svg" class="flex active-icon px-1" > 
          My Ads
        </a>
  </nav>
</div>
