<div class = "bg-blue-100 block h-screen  shadow-md font-poppins">
    <nav class = "flex flex-col w-full">
        <a class="menu-tile hover:border-CCblue hover:text-CCblue hover:border-l-4 text-xs">Dashboard</a>
        <a class="menu-tile hover:border-CCblue hover:text-CCblue hover:border-l-4 text-xs" >Profile</a>
        <a class="menu-tile hover:border-CCblue hover:text-CCblue hover:border-l-4 text-xs" >Search</a>
        <a class="menu-tile hover:border-CCblue hover:text-CCblue hover:border-l-4 text-xs" >Forecasting</a>
        <a class="menu-tile hover:border-CCblue hover:text-CCblue hover:border-l-4 text-xs" >Carriers</a>
        <a class="menu-tile hover:border-CCblue hover:text-CCblue hover:border-l-4 text-xs" >Negotiations</a>
        <a class="menu-tile hover:border-CCblue hover:text-CCblue hover:border-l-4 text-xs" >Ads</a>
    </nav>
</div>