
.header {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    /* Add any other necessary styles for the header */
}
.container {
    display: flex;
    overflow-x: hidden;
    height: 92vh;
   
}
.sidebar {
    flex: 0 0 30%;
    background-color: #c799994c;
    padding: 20px;
}
.content {
    flex: 0 0 45%;
    background-color: #f1ebeb;
    padding: 20px;
}
.profile {
    flex: 0 0 25%;
    background-color: #dedcdc;
    padding: 20px;
}

