.main-container {
  height: 100vh;
  overflow: hidden;
}

.container-d {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 64px);
  /* Subtract header height */
  overflow: hidden;
}

.left-section {
  width: 7%;
  height: auto;
  display: flex;
  float: left;
  justify-content: left;
  align-items: left;
  background: fixed;
  background-color: #F9FAFB;
  position: relative;
  z-index: 1001;
}

.right-section {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.left-section h1 {
  text-align: center;
  width: 100%;
}

.header-container {
  position: relative;
  z-index: 1002;
}