.container-d {
    display: flex;
    flex-direction: row;
    height: 100vh;

   
    
  }

  
  .left-section {
    width: 12%;
    background-color: #F0F5FF;
    display: flex;
    justify-content: center;
    align-items: center;  
    background:fixed;
  }
  
  .right-section {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
  }
  .left-section h1 {
    text-align: center;
    width: 100%;
  }