<div class="flex flex-col main-container">
  <!-- header  -->
  <div class="header-container bg-CCblue">
    <app-header></app-header>
  </div>

  <!--main view-->
  <div class="container-d">
    <!--left sidebar view-->
    <div class="left-section">
      <app-sidebar class="min-h-screen w-[100px]"></app-sidebar>
    </div>

    <!--right view-->
    <div class="right-section" *ngIf="isActive('/dashboard')">
      <app-dashboard></app-dashboard>
    </div>
    <div class="right-section" *ngIf="isActive('/profile')">
      <app-profile></app-profile>
    </div>
    <div class="right-section" *ngIf="isActive('/view-other-ads')">
      <app-view-other-ads></app-view-other-ads>
    </div>
    <div class="right-section" *ngIf="isActive('/negotiations')">
      <app-negotiations></app-negotiations>
    </div>
    <div class="right-section" *ngIf="isActive('/forecast-map')">
      <app-forecast-map></app-forecast-map>
    </div>
    <div class="right-section" *ngIf="isActive('/forecasting-table-view')">
      <app-forecasting-table-view></app-forecasting-table-view>
    </div>
    <div class="right-section" *ngIf="isActive('/optimized-view')">
      <app-optimized-view></app-optimized-view>
    </div>
    <div class="right-section" *ngIf="isActive('/my-ad')">
      <app-my-advertisement></app-my-advertisement>
    </div>
    <div class="right-section" *ngIf="isActive('/upload-inventory')">
      <app-upload-inventory></app-upload-inventory>
    </div>

    <div class="right-section" *ngIf="isActive('/upload-contract')">
      <app-upload-contract></app-upload-contract>
    </div>
    <div class="right-section" *ngIf="isActive('/view-contract')">
      <app-view-contracts></app-view-contracts>
    </div>
    <div class="right-section" *ngIf="isActive('/messaging')">
      <app-messaging></app-messaging>
    </div>
    <div class="right-section" *ngIf="isActive('/carrier-service')">
      <app-carrier-service></app-carrier-service>
    </div>
    <div class="right-section" *ngIf="isActive('/route-service')">
      <app-service-route></app-service-route>
    </div>
    <div class="right-section" *ngIf="isActive('/settings')">
      <app-settings></app-settings>
    </div>
    <!-- <div class="right-section" *ngIf="isActive('/forecasting')">
    <app-forecasting></app-forecasting>
    </div> -->

  </div>
</div>