<div class="flex flex-col first:flex-row div-bg div-bg-line mt-16 w-full">
  <label class="forecast font-semibold text-dark mt-3 ml-2" >Optimized View</label> 
  <div class="-ml-32 h-16 w-full mt-16">

    <form>
      <div class="flex flex-row">
        <div class="-mt-3">
          <label class="top mb-2 ml-0 font-normal">Port</label>
       <div>
  <select #port class="ml-0 top-selct1 div-bg" (change)="onPortSelected(port.value)">
    <option selected >Select Port</option>
    <option *ngFor="let port of port_list" [value]="port.port_name">{{ port.port_name }}</option>
  </select>
</div>

        </div>
        <!-- <div class="-mt-3">
          <label class="top mb-2 ml-2 font-normal">Sub Region</label>
          <div>
            <select class="top-selct2 font-normal  text-sm ml-2 div-bg">
              <option>IDS</option>
              <option>IND</option>
              <option>UK</option>
            </select>
          </div>
        </div> -->

        <!-- <div class="-mt-3">
          <label class=" mb-2 ml-2 top font-normal">Area</label>
          <div>
            <select class="ml-2 top-selct2 div-bg">
              <option>NGAE</option>
              <option>NGAE</option>
              <option>NGAE</option>
            </select>
          </div>
        </div> -->
        <!-- <div class=" -mt-3">
          <label class="top mb-2 ml-2 font-normal">Year and Week</label>
          <div>
            <input class="ml-2 top-selct2 div-bg" type="date">
          </div>
        </div> -->
        <!-- <div class=" flex-wrap -mt-3">
          <label class="top mb-2 ml-2 font-normal">Week of Stock</label>
          <div>
            <select class="top-selct2 ml-2 div-bg">
              <option>1 week</option>
              <option>2 week</option>
              <option>3 week</option>
            </select>
          </div>
        </div> -->

        <!-- <div class=" flex-wrap -mt-3">
          <label class="top mb-0 ml-2 font-normal">Equipment Type</label>
          <div>
            <select class="top-selct2 ml-2 div-bg">
              <option>40 HC</option>
              <option>45 HC</option>
            </select>
          </div>
        </div> -->
        <div class="ml-[800px] -mt-10 w-[7em] h-[2em] div-box-bg flex-wrap ">
          <div>
            <button routerLink="/carrier-service"
              class="inline-flex justify-center items-center btn-primary3 space-x-2 border font-semibold focus:outline-none w-36 py-2 px-2 pr-2 leading-6 font-poppins">Carrier
              Services</button>
          </div>
        </div>

        <div class="mx-4 ml-12 -mt-10 w-[10em] h-[0.5em] bg-gray flex-wrap">
          <div>
            <button (click)="onExportClick()"
              class="ml-2 inline-flex justify-center items-center btn-primary2 space-x-2 border font-semibold focus:outline-none w-full py-2 px-2 pr-2 leading-6 font-poppins border-blue-700">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 12V14H3V12H2V14L2.0038 13.9976C2.00333 14.1288 2.02873 14.2589 2.07854 14.3803C2.12836 14.5017 2.20163 14.6121 2.29414 14.7052C2.38666 14.7983 2.49662 14.8723 2.61774 14.9229C2.73885 14.9734 2.86875 14.9997 3 15H13C13.2652 15 13.5196 14.8946 13.7071 14.7071C13.8946 14.5196 14 14.2652 14 14V12H13Z" fill="#2F54EB"/>
                <path d="M3 6L3.7055 6.7025L7.5 2.9125V12H8.5V2.9125L12.2955 6.7025L13 6L8 1L3 6Z" fill="#2F54EB"/>
                </svg>
              <span class="ml-1">Export data</span>
            </button>
          </div>
        </div>
        <div class="-mt-10 w-[8em] h-[2em] bg-red flex-wrap ml-2">
          <div>
            <button
              class="inline-flex justify-center btn-primary items-center space-x-2 border font-medium focus:outline-none w-full py-2 px-2 pr-2 leading-6 font-poppins border-blue-700  text-white active:border-blue-700">Sync
              data</button>
          </div>
        </div>
      </div>
    </form>

  </div>
  
</div>
<br/>
<!-- Loading indicator when data is loading -->
<div *ngIf="loading" class="loading-bar">
<div class="loading-bar-inner"></div>
</div>

<ng-container>
  <!-- If finalServiceData has data, display service_name -->
  <div *ngIf="groupeData">
    <div *ngFor="let serviceId of getFinalServiceDataKeys()">
      <div *ngIf="groupeData[serviceId] && groupeData[serviceId].portSequences">
        <div *ngIf="groupeData[serviceId].portSequences.length > 0">
          You can use this Service Name: {{ groupeData[serviceId].serviceName }}
        </div>
      </div>
    </div>
  </div>

  <!-- If finalServiceData is empty, display "No service" message and "Search Ads" button -->
  <div class="textstyles" *ngIf="(!groupeData || getFinalServiceDataKeys().length === 0) && (receiveddeficitcontainerType && receiveddeficitcontainerSize) ">
    No service Available. Search an Ad for this.
    <button class="btnstyle" routerLink="/view-other-ads" (click)="searchAds()">Search ad</button>
  </div>
</ng-container>


<ng-container >
<!-- If finalServiceData has data, display service_name -->
<div *ngIf="groupedsurplus">
  <div *ngFor="let serviceId of getFinalSurplusDataKeys()">
    <div *ngIf="groupedsurplus[serviceId] && groupedsurplus[serviceId].portSequences">
      <div *ngIf="groupedsurplus[serviceId].portSequences.length > 0">
        You can use this Service : {{ groupedsurplus[serviceId].serviceName }}
      </div>
    </div>
  </div>
</div>

<div class="textstyles" *ngIf="(!groupedsurplus || getFinalSurplusDataKeys().length === 0) && (receivedsurpluscontainerType && receivedsurpluscontainerSize) ">
  No service Available.
 
</div>
</ng-container>

<button (click)="goback()" class="blue-button">Go back</button>









<br/>

<div class="relative">
  <div #mapElement style="height: 563px; position: relative;"></div>
</div>
