.btn {
  width: 235.3333282470703px;

  top: 631px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  padding: 10px 18px 10px 18px;
}

.rowbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}

.register-page-data {

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;


  width: 100%;
  height: 28px;

  /* Base / White */

  background: #FFFFFF;
  /* Gray / gray-5

Border
*/
  border: 1px solid #D9D9D9;
  /* Shadow / xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.signin-btn-text {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* Base / White */

  color: #FFFFFF;
}

.signin-btn {
  width: 235.33px;
  height: 38px;
  align-items: center;
  background: #2F54EB;
  border: 1px solid #3E7BFA;
  /* Shadow / xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 2px;
}







.container-d {
  display: flex;
  flex-direction: row;
  height: 100vh;


}

.left-section {
  position: fixed;
  width: 30%;
  height: 100%;
  top: 0;
  background: linear-gradient(135deg, #7da0ff 0%, #597EF7 35%, #2F54EB 70%, #1a39b1 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}


.right-section {
  flex-grow: 1;
  margin-left: 30%;
  /* Offset for fixed sidebar */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.left-section h1 {
  text-align: center;
  width: 100%;
}

.registration-form {
  /* Styling for the registration form */
  width: 300px;
  /* Adjust this value to change the width of the form */



}

.sub-text {

  margin-bottom: 20px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 167% */


  /* Golden Purple / purple-10 */

  color: #120338;
}

.title {
  font-family: 'Poppins';
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.02em;
  text-align: left;
  color: white;
}

.sub-title {
  width: 304px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
  color: white;
  margin-top: 24px;
  opacity: 0.9;
}

.password-container {
  position: relative;
  width: 100%;
  display: inline-block;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-input {
  padding-right: 25px;
}

.header {
  color: white;
  font-family: 'Poppins';
}

.label {

  width: 65px;
  height: 16px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  /* identical to box height, or 143% */


  /* Gray / gray-8 */

  color: #595959;
}