USE [master]
GO
/****** Object:  Database [CC_Models]    Script Date: 31-05-2023 12:58:06 ******/
CREATE DATABASE [CC_Models]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CC_Models', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CC_Models.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CC_Models_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CC_Models_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CC_Models].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CC_Models]
GO
/****** Object:  Table [dbo].[advertisement]    Script Date: 31-05-2023 12:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[advertisement](
	[ad_id] [int] IDENTITY(1,1) NOT NULL,
	[date_created] [date] NULL,
	[from_date] [date] NULL,
	[expiry_date] [date] NULL,
	[type_of_ad] [nvarchar](50) NULL,
	[container_type_id] [int] NULL,
	[price] [decimal](18, 2) NULL,
	[status] [nvarchar](50) NULL,
	[quantity] [int] NULL,
	[port_id] [int] NULL,
	[company_id] [int] NOT NULL,
	[posted_by] [int] NOT NULL,
	[contents] [nvarchar](50) NULL,
	[file] [nvarchar](max) NULL,
	[port_of_departure] [nvarchar](50) NULL,
	[port_of_arrival] [nvarchar](50) NULL,
	[free_days] [int] NULL,
	[per_diem] [int] NULL,
	[pickup_charges] [decimal](18, 4) NULL,
 CONSTRAINT [PK__advertis__CAA4A6271D124F02] PRIMARY KEY CLUSTERED 
(
	[ad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company]    Script Date: 31-05-2023 12:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[licence_id] [int] NOT NULL,
	[domain_address] [nvarchar](50) NOT NULL,
	[company_logo] [nvarchar](max) NULL,
	[company_location] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[rating] [decimal](4, 2) NULL,
	[address] [nvarchar](50) NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[container]    Script Date: 31-05-2023 12:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[container](
	[container_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[capacity] [decimal](5, 2) NOT NULL,
	[availability] [nvarchar](50) NOT NULL,
	[price] [decimal](8, 3) NOT NULL,
	[mfg] [date] NOT NULL,
	[serial_no] [nvarchar](50) NOT NULL,
	[container_type_id] [int] NOT NULL,
	[port_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[container_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[container_type]    Script Date: 31-05-2023 12:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[container_type](
	[container_type_id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[capacity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[container_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contracts]    Script Date: 31-05-2023 12:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contracts](
	[contract_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[content] [nvarchar](50) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[uploaded_file] [nvarchar](max) NOT NULL,
	[updated_by] [int] NOT NULL,
	[updated_date_time] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 31-05-2023 12:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[date_created] [date] NOT NULL,
	[last_modified] [date] NOT NULL,
	[company_id] [int] NOT NULL,
	[container_type] [nvarchar](50) NOT NULL,
	[available] [int] NOT NULL,
	[maximum] [int] NOT NULL,
	[minimum] [int] NOT NULL,
	[port_id] [int] NOT NULL,
	[updated_by] [int] NOT NULL,
	[container_size] [int] NOT NULL,
	[surplus] [int] NOT NULL,
	[deficit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message]    Script Date: 31-05-2023 12:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[negotiation_id] [int] NOT NULL,
	[sender_id] [int] NOT NULL,
	[company_id] [int] NOT NULL,
	[message_body] [nvarchar](50) NULL,
	[created_time] [date] NOT NULL,
	[status] [nvarchar](50) NULL,
	[container_image] [image] NULL,
	[recipent_company_id] [int] NOT NULL,
	[updated_date_time] [date] NOT NULL,
	[updated_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[negotiation]    Script Date: 31-05-2023 12:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[negotiation](
	[negotiation_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[ad_id] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[negotiation_type] [nvarchar](50) NULL,
	[container_type] [nvarchar](50) NULL,
	[quantity] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[company_id] [int] NOT NULL,
	[contract_id] [int] NULL,
	[date_created] [date] NOT NULL,
	[expiry_date] [date] NOT NULL,
	[updated_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[negotiation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permission]    Script Date: 31-05-2023 12:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permission](
	[permission_id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](max) NOT NULL,
	[actions] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_permission] PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ports]    Script Date: 31-05-2023 12:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ports](
	[port_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[port_name] [nvarchar](50) NOT NULL,
	[latitude] [decimal](17, 14) NULL,
	[longitude] [decimal](17, 14) NULL,
	[state] [nvarchar](50) NULL,
	[country] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[region] [nvarchar](50) NULL,
	[sub_region] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[port_code] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[port_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction]    Script Date: 31-05-2023 12:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[contract_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[date_time] [date] NOT NULL,
	[amount] [decimal](8, 3) NULL,
	[status] [nvarchar](50) NULL,
	[updated_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[up_mapping]    Script Date: 31-05-2023 12:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[up_mapping](
	[up_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[up_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 31-05-2023 12:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[fname] [nvarchar](50) NOT NULL,
	[lname] [nvarchar](50) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[phone_no] [nvarchar](20) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[is_verified] [int] NOT NULL,
	[is_approved] [int] NOT NULL,
	[is_active] [int] NOT NULL,
	[last_login] [datetime] NOT NULL,
	[designation] [nvarchar](50) NOT NULL,
	[otp] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[advertisement] ON 

INSERT [dbo].[advertisement] ([ad_id], [date_created], [from_date], [expiry_date], [type_of_ad], [container_type_id], [price], [status], [quantity], [port_id], [company_id], [posted_by], [contents], [file], [port_of_departure], [port_of_arrival], [free_days], [per_diem], [pickup_charges]) VALUES (230, CAST(N'2023-05-11' AS Date), CAST(N'0001-01-01' AS Date), CAST(N'2023-06-14' AS Date), N'buy', 1, CAST(1662.00 AS Decimal(18, 2)), N'active', 4, 7, 1, 1030, N'draft__adding_post', N'NA', N'mangalore', N'jakarta', 12, 12, CAST(12.0000 AS Decimal(18, 4)))
INSERT [dbo].[advertisement] ([ad_id], [date_created], [from_date], [expiry_date], [type_of_ad], [container_type_id], [price], [status], [quantity], [port_id], [company_id], [posted_by], [contents], [file], [port_of_departure], [port_of_arrival], [free_days], [per_diem], [pickup_charges]) VALUES (231, CAST(N'2023-05-11' AS Date), CAST(N'0001-01-01' AS Date), CAST(N'2023-06-14' AS Date), N'buy', 1, CAST(12.00 AS Decimal(18, 2)), N'draft', 12, 8, 1, 1030, N'1222', N'NA', N'jakarta', N'mangalore', 12, 12, CAST(12.0000 AS Decimal(18, 4)))
INSERT [dbo].[advertisement] ([ad_id], [date_created], [from_date], [expiry_date], [type_of_ad], [container_type_id], [price], [status], [quantity], [port_id], [company_id], [posted_by], [contents], [file], [port_of_departure], [port_of_arrival], [free_days], [per_diem], [pickup_charges]) VALUES (232, CAST(N'2023-05-11' AS Date), CAST(N'0001-01-01' AS Date), CAST(N'2023-06-14' AS Date), N'buy', 1, CAST(12.00 AS Decimal(18, 2)), N'active', 12, 9, 1, 1030, N'1222', N'NA', N'mangalore', N'oran', 12, 12, CAST(12.0000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[advertisement] OFF
GO
SET IDENTITY_INSERT [dbo].[company] ON 

INSERT [dbo].[company] ([company_id], [name], [licence_id], [domain_address], [company_logo], [company_location], [country], [rating], [address]) VALUES (2, N'IVO Consultant', 84, N'www.IVOYANTConsultant.com', N'㩃啜敳獲呜牡⁡⁇屐楐瑣牵獥卜牣敥獮潨獴汜汩祬樮杰', N'Kerala', N'India', CAST(4.10 AS Decimal(4, 2)), N'31th cross')
SET IDENTITY_INSERT [dbo].[company] OFF
GO
SET IDENTITY_INSERT [dbo].[container_type] ON 

INSERT [dbo].[container_type] ([container_type_id], [type], [capacity]) VALUES (1, N'Refrigerated-1TEU', 1)
INSERT [dbo].[container_type] ([container_type_id], [type], [capacity]) VALUES (2, N'Non-Refrigerated-1TEU', 2)
INSERT [dbo].[container_type] ([container_type_id], [type], [capacity]) VALUES (3, N'Refrigerated-2TEU', 3)
SET IDENTITY_INSERT [dbo].[container_type] OFF
GO
SET IDENTITY_INSERT [dbo].[contracts] ON 

INSERT [dbo].[contracts] ([contract_id], [company_id], [user_id], [content], [title], [uploaded_file], [updated_by], [updated_date_time]) VALUES (20, 3, 29, N'testu', N'test', N'1rUwHC8DXG2Q24VASl35S__OELsZRwmbZ,1EbvjhAJikLn4uRffW5vc1kPjvlLjHDSA', 29, CAST(N'2023-05-08' AS Date))
INSERT [dbo].[contracts] ([contract_id], [company_id], [user_id], [content], [title], [uploaded_file], [updated_by], [updated_date_time]) VALUES (21, 1, 1023, N'gffjkhk', N'ttt', N'1YVVhE1Azs3VSgo1qLc4b5D1TDXkTwsdm,1SqO8PDwaDJ1230VHfaYVsAFxnAQ_xeqy', 1023, CAST(N'2023-05-10' AS Date))
INSERT [dbo].[contracts] ([contract_id], [company_id], [user_id], [content], [title], [uploaded_file], [updated_by], [updated_date_time]) VALUES (22, 1, 1027, N'tttttttttt', N'testtdy', N'16_GbabknIkyaoLh8ZW57hNoxQpsTNgns,1ZnDGkzYoS61VsEavU-udxpOQ8TV4J4Tz', 1027, CAST(N'2023-05-29' AS Date))
SET IDENTITY_INSERT [dbo].[contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[inventory] ON 

INSERT [dbo].[inventory] ([inventory_id], [date_created], [last_modified], [company_id], [container_type], [available], [maximum], [minimum], [port_id], [updated_by], [container_size], [surplus], [deficit]) VALUES (1, CAST(N'2023-05-30' AS Date), CAST(N'2023-05-30' AS Date), 1, N'refrigerated', 2, 3, 4, 7, 1029, 1, 0, 2)
INSERT [dbo].[inventory] ([inventory_id], [date_created], [last_modified], [company_id], [container_type], [available], [maximum], [minimum], [port_id], [updated_by], [container_size], [surplus], [deficit]) VALUES (2, CAST(N'2023-05-30' AS Date), CAST(N'2023-05-30' AS Date), 1, N'non_refrigerated', 3, 4, 5, 8, 1029, 2, 0, 2)
INSERT [dbo].[inventory] ([inventory_id], [date_created], [last_modified], [company_id], [container_type], [available], [maximum], [minimum], [port_id], [updated_by], [container_size], [surplus], [deficit]) VALUES (3, CAST(N'2023-05-30' AS Date), CAST(N'2023-05-30' AS Date), 1, N'refrigerated', 4, 5, 6, 9, 1029, 1, 0, 2)
SET IDENTITY_INSERT [dbo].[inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[negotiation] ON 

INSERT [dbo].[negotiation] ([negotiation_id], [user_id], [ad_id], [price], [negotiation_type], [container_type], [quantity], [status], [company_id], [contract_id], [date_created], [expiry_date], [updated_by]) VALUES (4, 29, 238, CAST(287.00 AS Decimal(18, 2)), N'buy', N'refrigerated', 34, N'accepted', 3, NULL, CAST(N'2023-07-28' AS Date), CAST(N'2023-08-29' AS Date), 29)
INSERT [dbo].[negotiation] ([negotiation_id], [user_id], [ad_id], [price], [negotiation_type], [container_type], [quantity], [status], [company_id], [contract_id], [date_created], [expiry_date], [updated_by]) VALUES (5, 29, 238, CAST(287.00 AS Decimal(18, 2)), N'sell', N'refrigerated', 34, N'accepted', 3, NULL, CAST(N'2023-07-28' AS Date), CAST(N'2023-08-29' AS Date), 29)
INSERT [dbo].[negotiation] ([negotiation_id], [user_id], [ad_id], [price], [negotiation_type], [container_type], [quantity], [status], [company_id], [contract_id], [date_created], [expiry_date], [updated_by]) VALUES (6, 29, 238, CAST(655.00 AS Decimal(18, 2)), N'sell', N'refrigerated', 34, N'pending', 3, NULL, CAST(N'2023-07-28' AS Date), CAST(N'2023-08-29' AS Date), 29)
SET IDENTITY_INSERT [dbo].[negotiation] OFF
GO
SET IDENTITY_INSERT [dbo].[permission] ON 

INSERT [dbo].[permission] ([permission_id], [type], [actions]) VALUES (1, N'advertisement', N'read')
INSERT [dbo].[permission] ([permission_id], [type], [actions]) VALUES (2, N'advertisement', N'write')
INSERT [dbo].[permission] ([permission_id], [type], [actions]) VALUES (3, N'negotiation', N'read')
SET IDENTITY_INSERT [dbo].[permission] OFF
GO
SET IDENTITY_INSERT [dbo].[ports] ON 

INSERT [dbo].[ports] ([port_id], [company_id], [port_name], [latitude], [longitude], [state], [country], [city], [region], [sub_region], [status], [port_code]) VALUES (7, 1, N'jakarta', CAST(-6.09959085865679 AS Decimal(17, 14)), CAST(106.80393218994142 AS Decimal(17, 14)), N'jakarta', N'Indonesia', N'blr', N'southeast', N'dhtg', N'surplus', N'IDJKT')
INSERT [dbo].[ports] ([port_id], [company_id], [port_name], [latitude], [longitude], [state], [country], [city], [region], [sub_region], [status], [port_code]) VALUES (8, 1, N'mangalore', CAST(13.29407939567737 AS Decimal(17, 14)), CAST(74.72351074218751 AS Decimal(17, 14)), N'karnataka', N'India', N'Albania', N'southwest', N'', N'Available', N'INIXE')
INSERT [dbo].[ports] ([port_id], [company_id], [port_name], [latitude], [longitude], [state], [country], [city], [region], [sub_region], [status], [port_code]) VALUES (9, 1, N'oran', CAST(38.05214310000000 AS Decimal(17, 14)), CAST(-122.22441280000000 AS Decimal(17, 14)), N'oran', N'Algeria', N'Albania', N'middle east', N'', N'Available', N'DZORN')
SET IDENTITY_INSERT [dbo].[ports] OFF
GO
SET IDENTITY_INSERT [dbo].[up_mapping] ON 

INSERT [dbo].[up_mapping] ([up_id], [user_id], [permission_id]) VALUES (2, 2, 4)
INSERT [dbo].[up_mapping] ([up_id], [user_id], [permission_id]) VALUES (3, 2, 3)
INSERT [dbo].[up_mapping] ([up_id], [user_id], [permission_id]) VALUES (4, 2, 1)
SET IDENTITY_INSERT [dbo].[up_mapping] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [company_id], [fname], [lname], [address], [email], [phone_no], [password], [is_verified], [is_approved], [is_active], [last_login], [designation], [otp]) VALUES (2, 2, N'Vishrutha', N'vignesh', N'india', N'v@gmail.com', N'9875446788', N'123', 1, 0, 1, CAST(N'2023-07-15T00:00:00.000' AS DateTime), N'admin', 0)
INSERT [dbo].[users] ([user_id], [company_id], [fname], [lname], [address], [email], [phone_no], [password], [is_verified], [is_approved], [is_active], [last_login], [designation], [otp]) VALUES (3, 4, N'Avi', N'oo', N'fgc', N'ffgdgd', N'9875446788', N'tfhgff', 1, 0, 1, CAST(N'2023-07-15T00:00:00.000' AS DateTime), N'admin', 0)
INSERT [dbo].[users] ([user_id], [company_id], [fname], [lname], [address], [email], [phone_no], [password], [is_verified], [is_approved], [is_active], [last_login], [designation], [otp]) VALUES (5, 1, N'testk', N'K', N'e', N'k1@gmail.com', N'03656272804', N'123', 1, 1, 0, CAST(N'2024-07-15T00:00:00.000' AS DateTime), N'user', -1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT ((0)) FOR [container_size]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT ((0)) FOR [surplus]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT ((0)) FOR [deficit]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [otp]
GO
ALTER TABLE [dbo].[advertisement]  WITH CHECK ADD  CONSTRAINT [FK__advertise__compa__5070F446] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([company_id])
GO
ALTER TABLE [dbo].[advertisement] CHECK CONSTRAINT [FK__advertise__compa__5070F446]
GO
ALTER TABLE [dbo].[advertisement]  WITH CHECK ADD  CONSTRAINT [FK__advertise__conta__5165187F] FOREIGN KEY([container_type_id])
REFERENCES [dbo].[container_type] ([container_type_id])
GO
ALTER TABLE [dbo].[advertisement] CHECK CONSTRAINT [FK__advertise__conta__5165187F]
GO
ALTER TABLE [dbo].[advertisement]  WITH CHECK ADD  CONSTRAINT [FK__advertise__port___52593CB8] FOREIGN KEY([port_id])
REFERENCES [dbo].[ports] ([port_id])
GO
ALTER TABLE [dbo].[advertisement] CHECK CONSTRAINT [FK__advertise__port___52593CB8]
GO
ALTER TABLE [dbo].[advertisement]  WITH CHECK ADD  CONSTRAINT [FK__advertise__poste__534D60F1] FOREIGN KEY([posted_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[advertisement] CHECK CONSTRAINT [FK__advertise__poste__534D60F1]
GO
ALTER TABLE [dbo].[container]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([company_id])
GO
ALTER TABLE [dbo].[container]  WITH CHECK ADD FOREIGN KEY([container_type_id])
REFERENCES [dbo].[container_type] ([container_type_id])
GO
ALTER TABLE [dbo].[container]  WITH CHECK ADD FOREIGN KEY([port_id])
REFERENCES [dbo].[ports] ([port_id])
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([company_id])
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([company_id])
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD FOREIGN KEY([port_id])
REFERENCES [dbo].[ports] ([port_id])
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([company_id])
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD FOREIGN KEY([negotiation_id])
REFERENCES [dbo].[negotiation] ([negotiation_id])
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD FOREIGN KEY([recipent_company_id])
REFERENCES [dbo].[company] ([company_id])
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[negotiation]  WITH CHECK ADD  CONSTRAINT [FK__negotiati__ad_id__628FA481] FOREIGN KEY([ad_id])
REFERENCES [dbo].[advertisement] ([ad_id])
GO
ALTER TABLE [dbo].[negotiation] CHECK CONSTRAINT [FK__negotiati__ad_id__628FA481]
GO
ALTER TABLE [dbo].[negotiation]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([company_id])
GO
ALTER TABLE [dbo].[negotiation]  WITH CHECK ADD FOREIGN KEY([contract_id])
REFERENCES [dbo].[contracts] ([contract_id])
GO
ALTER TABLE [dbo].[negotiation]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[negotiation]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[ports]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([company_id])
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD FOREIGN KEY([contract_id])
REFERENCES [dbo].[contracts] ([contract_id])
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[up_mapping]  WITH CHECK ADD FOREIGN KEY([permission_id])
REFERENCES [dbo].[permission] ([permission_id])
GO
ALTER TABLE [dbo].[up_mapping]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([company_id])
GO
USE [master]
GO
