

@tailwind base;

@tailwind components;

@tailwind utilities;

.button-no-bg {

  @apply bg-white text-blue-500 border p-1 px-10  text-xs font-thin border-blue-500;

}

.button-blue-bg {

  @apply bg-CCdarkblue text-white border p-1 px-10  text-xs font-thin border-blue-500;

}

.gray-highlights {

  @apply flex items-center justify-center text-[0.6rem] bg-gray-50 rounded-md px-1 whitespace-nowrap;

}

.button-no-bg-list {

  @apply bg-white text-blue-500 border px-10  text-[0.6rem] font-thin border-blue-500;

}

.btn-gray{

  @apply bg-gray-300;

}

.disabled-button {

  cursor: not-allowed;

}

.company-name {

  filter: blur(3px);

}

.button-gray-bg-list {

  @apply bg-gray-200  border  px-10  text-[0.6rem] font-thin;

}

.button-red-bg-list {

  @apply bg-red-300  border px-10  text-[0.6rem] font-thin border-red-300;

}

.button-in-list{

  @apply bg-blue-50 text-blue-500 text-xs px-1 items-center justify-center flex;

}
.button2{
  display: flex;
width: 32px;
height: 32px;
padding: 0px 6px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
color: #1677FF;
border: 1px solid var(--color-primary-base, #1677FF);
}
.button1{

  display: flex;
  width: 32px;
  height: 32px;
  padding: 0px 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  }
  .button3{
    border-radius: 6px;
    display: flex;
    width: 32px;
    height: 32px;
    color: 000000;
    padding: 0px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .button4{
  display: flex;
  width: 32px;
  height: 32px;
  padding: 0px 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  
  
  }
  