
.disabled-button {
    cursor: not-allowed;
  }
  /* Flex container for two sets of elements */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the top */
}

/* Individual flex items (each set of elements) */
.flex-item {
  flex: 1;
}

/* Vertical line separator */
.vertical-line {
  width: 5px;
  background-color: #ccc; /* Adjust the color as needed */
  margin: 0 10px; /* Adjust the margin as needed */
  height: 100%; /* Stretch the line to match the height of the container */
}
/* Centered buttons */
.centered-buttons {
  text-align: center;
}
