<app-header></app-header>
<div *ngIf="statusMsg === 'Failed'" class="div" role="alert">
  <strong class="font-bold">Holy smokes!</strong>
  <span class="block sm:inline">Something seriously bad happened.</span>
  <span class="div-span">
    <svg class="div-span-svg" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>
<div *ngIf="statusMsg === 'Success'" class="div-box" role="alert">
  <strong class="font-bold">Successfully</strong>
  <span class="block sm:inline">Uploaded the file</span>
  <span class="div-box-span">
    <svg class="div-box-svg" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>

<!-- Whole page is the below div -->
<div
  data-te-modal-init
  class="fixed inset-0 flex flex-col items-center shadow-md rounded-md justify-center h-auto w-auto bg-white overflow-y-auto overflow-x-hidden outline-none"
  id="exampleModalCenteredScrollable"
  tabindex="-1"
  aria-labelledby="exampleModalCenteredScrollable"
  aria-modal="true"
  role="dialog"
>

  <!-- Upload contracts card -->
  <div class="p-2 shadow-lg bg-gray-50 w-fit rounded-md">
    
    <div class="p-2 font-poppins w-fit">
      <div class="flex">
        <div class="flex-1 flex-col">
          <input
            class="border-CCblue  border-2 m-2 h-[2em] rounded-md w-3/4"
            type="text"
            [(ngModel)]="title"
            placeholder=" Title"
            required="required"
          />
          <textarea
            class="border-CCblue border-2 mx-2 h-[4em] rounded-md w-3/4"
            rows=""
            cols=""
            placeholder="Enter your description here..."
            [(ngModel)]="description"
          ></textarea>
        </div>
        <div class="flex flex-col items-center">
          <label
            class="bg-CCblue text-white px-4 py-1 rounded cursor-pointer hover:bg-blue-700 leading-tight"
          >
            Upload File
            <input
              class="hidden"
              type="file"
              id="contract-file-input"
              (change)="onChange($event)"
            />
          </label>
          <br/>
          <label
            class="bg-green-500 text-white px-4 py-1 rounded cursor-pointer hover:bg-green-400 leading-tight"
          >
            Save File
            <input
              class="hidden"
              type="button"
              (click)="onUpload()"
            />
          </label>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center w-full">
      <label
        for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-100"
      >
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <svg
            aria-hidden="true"
            class="w-10 h-10 mb-3 text-gray-400"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
            ></path>
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">Click to upload</span> or drag and drop
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-400">
            Only upload .pdf files
          </p>
        </div>
        <input
          id="dropzone-file"
          type="file"
          class="hidden"
          (change)="onChange($event)"
        />
      </label>
    </div>
    <a routerLink="../dashboard" class="text-blue-600 hover:text-blue-400 self-start"> < Back</a>
  </div>
</div>

