
<div class="div" *ngIf="showModal">
  <div class="div-card mt-40">
    <div class="div-bg">
    </div>
    <div class="div-size">
      <div class="div-details">
        <p>Are you sure you want to add this inventory details ?</p>
       <!-- <mat-progress-spinner color="blue"></mat-progress-spinner> -->
      </div>
    </div>
  </div>
</div>
<div class="w-full">
  <!-- Header -->
        <div class="mb-4 w-full">
          <span class="heading">
            <!-- company's svg -->
           Enter your login details
          </span>

        </div>
        
       


       
              <!-- Just for testing purposes change ng submit-->
              <form [formGroup]= "loginForm"autocomplete="off" (ngSubmit)="onLoginSubmit()" class="form" >
               <label for="email" class="label" >Email</label>
                  <input formControlName="email" autocomplete="hidden" class="page-input signin-page-input"
                   type="email" 
                   id="email"
                   name="email" 
               >
                  <div
                      *ngIf="showValidationErrors && loginForm.get('email')?.invalid"
                      class="text-red-500 text-sm mt-1"
                    >
                    <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</div>
                    <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format</div>
                  </div>
            
                
                  <div>
                    <label for="password" class="label">Password</label>
                    <div class="password-container">
                      <input
                        formControlName="password" autocomplete="off"
                        class="register-page-data page-input"
                        type="{{ showPassword ? 'text' : 'password' }}"
                        id="password"
                        required
                        minlength="8"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$"
                      />
                      <i style="color: #262626a6;" class="fas password-toggle" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()"></i>
                
                 
                    </div>
                <div>
                  <div *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-red-500 text-sm mt-1">
                    <div *ngIf="loginForm.get('password')?.errors?.['required']">Password required</div>
                    <div *ngIf="loginForm.get('password')?.errors?.['minlength']"></div>
                  </div>
                </div>
                  <!-- <mat-form-field>
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint *ngIf="!loginForm.value">Enter your password</mat-hint>
                </mat-form-field> -->
                <div class="checkbox-container mt-4 mb-2 term  flex flex-row">
                  <input type="checkbox" id="agreeCheckbox" />
                  <div class="rowbtn">
                    <div class="ml-2">
                      <label for="agreeCheckbox  ">
                        Remember me 
                       </label>
                    </div>
                     <a class="signin-fp"routerLink="/forgot-password" style="color: blue;">Forgot Password</a>
                  </div>
                 
                </div>
                </div>
                <div class="center-position"> 

              
                  <button
                   type="submit" class="btn-primary btn" style="height: 26px;font-size: 12px;" >
                    <div>
                      Sign In 
                    </div>
            
                  </button>
                </div>

                  <label class="center-position blw-btn-text">
                    Don't have an account yet ? 
                    <a href="/register" style="color: blue;" class="underline"> SignUp</a> 
                 
                  </label>

                  <!-- <a href="#" class="a-otp-val" routerLink="/otp-validation">Validate your OTP</a> -->


               
               
           
              </form>          
   
                 
            </div>
        
    