@tailwind base;
@tailwind components;
@tailwind utilities;

.top{
  font-family: 'Poppins';
font-size: 12px;

color: #595959;
}
.upload-input-data{
  @apply block px-1 py-1 leading-6 w-full 
}
.border{
  border: 1px solid #D9D9D9;
}
.h1{
  background-color: #F0F5FF;
}
.btn-primary1{
  color: #ffffff;
  box-sizing: border-box;

  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
  
  width:365px;
  height: 25px;
  
  /* Geek Blue / geekblue-6 */
  
  background: #2F54EB;
  border: 1px solid #3E7BFA;
  
}
.btn-primary3{
  background-color: #F0F0F0;
   color:#595959;
   box-sizing: border-box;

   /* Auto layout */
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 
   
   width: 365px;
   height: 25px;
   
}