
<div class="otp-section">
  <div>
    <h1 class="otp-h1">
      <!-- company's svg -->
      <span>Verify your email</span>
    </h1>
    <p class="p">
  
      
      <span class="otp font-light"><i class="fas fa-info-circle text-blue-500"></i><span class="ml-2">Verification code sent on your email</span></span>
    </p>
  </div>
  <!-- Otp verify form here -->

  <form [formGroup]="otpForm" (ngSubmit)="onValidate()">
    <div class="otp text-[0.7rem] text-dark">
      <label>One Time Password</label>
    </div>
    <div class="grow w-full  bg-white">
      <div class="col-span-2">

        <input formControlName="otp" class="otp-page-data border-2" type="email" id="email" />
        
      </div>
      <div class="otp text-[0.7rem] ml-44 font-normal">
        <label>Did not receive the email?<a class="otp-a">Resend OTP</a></label>
      </div>
    </div>
    <div class="ml-24 center-position mt-10 flex ">
      <button type="submit" class="btn-primary btn">
        <div>
          Verify
        </div>
      </button>
    </div>
  </form>
  <div class="otp-noact text-gray-500 text-[0.7rem] ml-12">
    Already have an account?
    <a class="otp-noact-a" [routerLink]="['/sign-in']" routerLinkActive="router-link-active"
      href="javascript:void(0)"><span class="underline">Sign in</span></a>
  </div>
</div>


<!-- <form [formGroup]="verifyotpForm" (ngSubmit)="onverifyOtp()" class = 'flex flex-row col-span-2' >
        <div class="space-y-1 col-span-1">
          <label for="otp" class="font-medium text-sm">Enter OTP<span class="text-red-500">*</span>
          <input
            formControlName="otp"
            class="register-page-data"
            type="{{ showPassword ? 'text' : 'password' }}"
            id="otp"
            
          />
         </label>
        </div>
        <div class="signin-rememberme ml-10">
          <label class="flex items-center">
            <button class="signin-fp" type="submit">Verify OTP</button>
          </label>
       
        </div>
      </form> -->