<div class="div">
  <div class="max-w-sm">
    <h1 class="div-h1">
      Forgot Password
    </h1>
    <p class="div-p">
      Enter your email and we'll send you an OTP to reset your password.
    </p>
    <div>
      <label for="email-address" class="div-label">Email<span class="text-red-500">*</span></label>
      <input
        type="email"
        [(ngModel)]="email"
        #emailInput="ngModel"
        name="email"
        class="div-input"
        required
        autofocus
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      />
      <div *ngIf="emailInput?.invalid && (emailInput?.dirty || emailInput?.touched)" class="text-red-500">
        <div *ngIf="emailInput?.errors?.['required']">Email is required.</div>
        <div *ngIf="emailInput?.errors?.['pattern']">Invalid email format.</div>
      </div>
      
    </div>
    <button
    (click)="IfExistsThenSendOTP()"
    type="submit"
    class="signin-btn mt-4"
    [disabled]="emailInput.invalid"
    [ngClass]="{'button-gray-bg-list': emailInput.invalid}"
  >
    Send OTP
  </button>
  </div>
</div>
