<div
  class="div"
>
  <div class="max-w-sm">
    <h1 class="div-h1">
      Forgot Password
    </h1>
    <p class="div-p">
      Enter your email and we &#x27;ll send you an OTP to reset your password.
    </p>
    <div class="">
      <label for="email-address" class="div-label">Email<span class="text-red-500">*</span></label>
      <input
        type="email"
        [(ngModel)]="email"
        #emailInput="ngModel"
        name="email"
        class="div-input"
        required
        autofocus
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      />
      <span *ngIf="emailInput.invalid && emailInput.touched" class="div-span">Please enter a valid E-mail Address</span>
    </div>
    
    
    <button
      
      (click)="IfExistsThenSendOTP()"
   
    type="submit"class="signin-btn mt-4">
      Send OTP
    </button>
  </div>
</div>

