<div
  class="div"
>
  <div class="max-w-sm">
    <h1 class="div-h1">
      Forgot Password
    </h1>
    <p class="div-p">
      Enter your email and we &#x27;ll send you an OTP to reset your password.
    </p>
    <div class="">
      <label
        for="email-address"
        class="div-label"
        >Email address</label
      >
      <input
        type="email"
        [(ngModel)]="email"
        class="div-input"
        required=""
        autofocus=""
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      />
      <span
        class="div-span"
      >
        Please enter a valid E-mail Address
      </span>
    </div>
    <button
      type="submit"
      (click)="IfExistsThenSendOTP()"
      class="div-btn"
    >
      <span>Send OTP</span>
    </button>
  </div>
</div>

