@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .max-w-2x1 {
      
    }
  }
    @layer utilities {
      .ml-50 {
        margin-left: 50px;
      }
    }
    .shadow-outline {
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    }
    
    @layer utilities {
      .focus\:shadow-outline {
        @apply shadow-outline;
      }
    }
    
    .radio-button {
       @apply px-2 py-1 border-2 text-black border-gray-800  ml-1 w-20 h-8 ;
      }
      
      .radio-button--selected {
       @apply bg-blue-500 text-white border-blue-500;
      }
      .my-custom-select {
        /* add your styles here */
        font-size: 16px;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
      }