<!-- component -->
<app-header></app-header>
<app-sidebar></app-sidebar> 
<div class="flex flex-col first:flex-row bg-gray ml-24 shadow-lg">
  <div class="p-2 m-3 -ml-2 h-fit w-[1300px] mt-4">
    <form> 
      <div class="flex flex-row">  
          <div class="mx-3 w-24 h-[4em] bg-gray flex-wrap -mt-3">
            <label class="text-gray-600 dark:text-black-900 text-sm mb-2 ml-4">Region</label>
            <div>
            <select class="border-2 ml-2 py-2 px-2 pr-2 block w-full border-gray-200 text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-black-900 dark:border-gray-700 dark:text-gray-400">
                <option>A</option>
                <option>B</option>
                <option>C</option>
              </select>
              </div>
            </div>
       
        <div class="mx-3 w-24 h-[2em] bg-gray flex-wrap -mt-3">
          <label class="text-gray-600 dark:text-black-900 text-sm mb-2 ml-1 -mr-60">Sub Region</label>
          <div>
          <select class="border-2 py-2 px-2 pr-2 block w-full border-gray-200 text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400">
            <option>IDS</option>
            <option>IND</option>
            <option>UK</option>
          </select>
          </div>
        </div>

        <div class="mx-3 w-24 h-[2em] bg-gray flex-wrap -mt-3">
          <label class="text-gray-600 dark:text-black-900 text-sm mb-2 ml-1">Area</label>
          <div>
          <select class="border-2 py-2 px-2 pr-2 block w-full border-gray-200 text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400">
            
            <option>NGAE</option>
            <option>NGAE</option>
            <option>NGAE</option>
          </select>
          </div>
        </div>
        <div class="mx-3 w-[10em] h-[2em] bg-gray flex-wrap -mt-3">
          <label class="text-gray-600 dark:text-black-900 text-sm mb-2 ml-1">Year and Week</label>
          <div>
          <input class="border-2 py-2 px-2 pr-2 block w-full border-gray-200 text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" type="date">
           
          </div>
        </div>
        <div class="mx-3 w-[10em] h-[2em] bg-gray flex-wrap -mt-3">
          <label class="text-gray-600 dark:text-black-900 text-sm mb-2 ml-1">Week of Stock</label>
          <div>
          <select class="border-2 py-2 px-2 pr-2 block w-full border-gray-200 text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400">
            <option>1 week</option>
            <option>2 week</option>
            <option>3 week</option>
          </select>
          </div>
        </div>
      
        <div class="mx-3 w-[10em] h-[2em] bg-gray flex-wrap -mt-3">
          <label class="text-gray-600 dark:text-black-900 text-sm mb-0">Equipment Type</label>
          <div>
          <select class="border-2 py-2 px-2 pr-2 block w-full border-gray-200 text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400">
            
            <option>40 HC</option>
            <option>45 HC</option>
           
          </select>
          </div>
        </div>
        <div class="mx-3 w-[10em] h-[2em] bg-gray flex-wrap ml-2">
          <div>
            <button class="ml-2 inline-flex justify-center items-center space-x-2 border font-medium focus:outline-none w-full py-2 px-2 pr-2 leading-6 rounded border-blue-700 bg-white-500 text-black hover:text-white hover:bg-blue-800 hover:border-blue-700 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700">Carrier Services</button>
          </div>
        </div>
        <div class="mx-3 w-[10em] h-[2em] bg-gray flex-wrap ml-2">
          <div>
            <button class="ml-2 inline-flex justify-center items-center space-x-2 border font-medium focus:outline-none w-full py-2 px-2 pr-2 leading-6 rounded border-blue-700 bg-white-500 text-black hover:text-white hover:bg-blue-800 hover:border-blue-700 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700">Sync Data</button>
          </div>
        </div>
        <div class="mx-3 w-[10em] h-[2em] bg-gray flex-wrap">
          <div>
            <button class="inline-flex justify-center items-center space-x-2 border font-medium focus:outline-none w-full py-2 px-2 pr-2 leading-6 rounded border-blue-700 bg-white-500 text-blue hover:text-white hover:bg-blue-800 hover:border-blue-700 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700">Export Data</button>
          </div>
        </div>
  
  </div>
 
    </form>
        
      </div>
      
    </div>   
<div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
  <nav class="table-navbar w-full">
    <div class="flex justify-between max-w-sm mx-auto items-center mt-2">
      <div class="p-2 w-[5em] h-[3em] bg-white-900 left-0 -ml-96 mt-2">
        <button class="text-sm -mt-0 font-medium text-black -mt-2 capitalize dark:text-white cursor-pointer hover:text-gray-700 dark:hover:text-gray-300" (click)="backPage()">&lt; Back</button>
      </div>
      <h1 class="text-3xl font-medium text-black capitalize -mt-2 dark:text-white mx-auto cursor-pointer hover:text-gray-700 dark:hover:text-gray-300">Forecasting</h1>
     <div class="flex items-center p-1 x-1 bg-white w-0 -mr-60 rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-500">
        <div class="flex bg-gray-100 p-3 w-76 space-x-4 shadow-lg rounded-lg -mr-10">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-8 opacity-30 mr-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
          <input [(ngModel)]="searchTerm" class="bg-gray-100 outline-none" type="text" placeholder="Portname | Containertype" />
        </div>
      </div>  
    </div>
  </nav>
</div>


<div class="w-full h-full flex flex-col first:flex-row">  
<section  class="ml-1">
  <div class="flex flex-col">
              <div class="overflow-hidden shadow-lg hover:shadow-xl border border-gray-200 dark:border-gray-700 ml-24 mr-0">
                  <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                      <thead class="bg-gray-200 dark:bg-gray-800">
                          <tr >
                              <th scope="col-4" class="py-3.5 px-4 text-1xl font-medium text-left rtl:text-right text-gray-500 dark:text-gray-400 cursor-pointer hover:text-gray-700 dark:hover:text-gray-300">
                                  <div class="flex items-center gap-x-3">
                                      <button class="flex items-center gap-x-2 ml-2 text-lg">
                                          <span>PortName</span>
                                          <svg class="h-3" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z" fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                                              <path d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z" fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                                              <path d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z" fill="currentColor" stroke="currentColor" stroke-width="0.3" />
                                          </svg>
                                      </button>
                                  </div>
                              </th>

                              <th scope="col" class="px-1 py-1  text-lg font-medium text-left rtl:text-right text-gray-500 dark:text-gray-400 cursor-pointer hover:text-gray-700 dark:hover:text-gray-300">
                                  Container_Type
                              </th>

                              <th scope="col" class="px-4 py-3.5  text-lg font-medium text-left rtl:text-right text-gray-500 dark:text-gray-400 cursor-pointer hover:text-gray-700 dark:hover:text-gray-300">
                                  Container_Size
                              </th>

                              <th scope="col" class="px-4 py-3.5  text-lg font-medium text-left rtl:text-right text-gray-500 dark:text-gray-400 cursor-pointer hover:text-gray-700 dark:hover:text-gray-300">
                                  Available
                              </th>
                             
                              <th scope="col" class="px-4 py-3.5 text-lg font-medium text-left rtl:text-right text-gray-500 dark:text-gray-400 cursor-pointer hover:text-gray-700 dark:hover:text-gray-300">
                                <div class="flex items-center justify-between">
                                  <span>Surplus</span>
                                
                                </div>
                              </th>
                              <th scope="col" class="px-4 py-3.5 text-lg font-medium text-left rtl:text-right text-gray-500 dark:text-gray-400 cursor-pointer hover:text-gray-700 dark:hover:text-gray-300">
                                Deficit
                            </th>
                          </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                        <tr *ngFor="let inv of inventory_list_by_companyId | search: searchTerm:getPortName.bind(this) | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                          <!-- table row data here -->
                
                              <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                                  <div class="inline-flex items-center gap-x-3 ml-6">
                                      

                                      <span>  {{getPortName(inv.port_id)}}</span>
                                  </div>
                              </td>
                              <td class="px-4 py-4 text-sm font-medium text-gray-500 dark:text-gray-300 whitespace-nowrap">{{inv.container_type}}</td>
                              <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                                <div class="inline-flex items-center gap-x-3 ml-6">
                                    

                                    <span>  {{inv.container_size}}</span>
                                </div>
                            </td>
                            <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                              <div class="inline-flex items-center gap-x-3 ml-6">
                                  <span> {{inv.available}}</span>
                              </div>
                          </td>
                  
                          <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                            <div class="ml-2 inline-flex items-center px-3 py-1 text-green-500 rounded-full gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                                <span> {{inv.surplus}}</span>
                            </div>
                          </td>
                          
                          <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                            <div class="ml-2 inline-flex items-center px-3 py-1 text-red-500 rounded-full gap-x-2 bg-red-100/60 dark:bg-gray-800">
                                <span> {{inv.deficit}}</span>
                            </div>
                          </td>
                          
                          
                          </tr>
                  
                      </tbody>
                  </table>
           
                <div class="bg-white p-4 flex items-center flex-wrap  justify-center">
                  <nav aria-label="Page navigation">
                      <ul class="inline-flex">
                          <li><button [class.opacity-50]="currentPage === 1" (click)="currentPage = currentPage - 1" (click)="prevPage()"
                                  class="h-10 px-5 text-blue-600 transition-colors duration-150 rounded-l-lg focus:shadow-outline hover:bg-blue-100">
                                  <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                      <path
                                          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                          clip-rule="evenodd" fill-rule="evenodd"></path>
                                  </svg></button>
                          </li>
                          <li><button [class.opacity-50]="currentPage === 1" (click)="currentPage = currentPage - 1" (click)="prevPage()" *ngIf = "currentPage>1"
                                  class="h-10 px-5 text-blue-600 transition-colors duration-150 focus:shadow-outline hover:bg-blue-100">{{currentPage - 1}}</button>
                          </li>
                          <li><button
                                  class="h-10 px-5 text-white transition-colors duration-150 bg-CCblue border border-r-0 border-blue-400 focus:shadow-outline">{{currentPage}}</button>
                          </li>
                          <li><button [class.opacity-50]="currentPage === totalPages" (click)="currentPage = currentPage + 1" (click)="nextPage()"
                                  class="h-10 px-5 text-blue-600 transition-colors duration-150 focus:shadow-outline hover:bg-blue-100">{{currentPage+1}}</button>
                          </li>
                          <li><button [class.opacity-50]="currentPage === totalPages" (click)="currentPage = currentPage + 1" (click)="nextPage()"
                                  class="h-10 px-5 text-blue-600 transition-colors duration-150 bg-white rounded-r-lg focus:shadow-outline hover:bg-blue-100">
                                  <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                      <path
                                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                          clip-rule="evenodd" fill-rule="evenodd"></path>
                                  </svg></button>
                          </li>
                      </ul>
                  </nav>
              </div>
              </div>
          </div>
</section>
</div>