<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="profile-details whitespace-nowrap ">
    <div class="profile-action whitespace-nowrap ">
        <div>
            <span class="material-symbols-outlined mt-2">
                arrow_back_ios
                </span>
      <span class="whitespace-nowrap justify-center"  style="font-size: 16px;"> People</span> 
    </div>
            <span class="material-symbols-outlined whitespace-nowrap ">
            add
            </span>
    </div>
    <hr>
    <div class="profile-header">
            <div class="profile-header-inner">
                <div class="profile-icon">
                    <!-- Display the profile photo here -->
                    <img src="../assets/images/IMG_20230213_135109.jpg" alt="Profile Photo">
                              <div class="user-status-dot" [ngClass]="{ 'online': true, 'offline': false }"></div>
                </div>
                <div class="profile-name">
                    <!-- Display the person's name here -->
                Thejesh
                </div>
            </div>
            <div class="mr-4">
                <span class="material-symbols-outlined">
                    navigate_next
                    </span>
            </div>
    </div>

    <hr>
   
    <div class="profile-header">
        <div class="profile-header-inner">
            <div class="profile-icon">
                <!-- Display the profile photo here -->
                <img src="../assets/images/IMG_20230213_135109.jpg" alt="Profile Photo">
            </div>
            <div class="profile-name">
                <!-- Display the person's name here -->
                Helen Mattew
            </div>
        </div>
        <div class="mr-4">
            <span class="material-symbols-outlined">
                navigate_next
                </span>
        </div>
    </div>
        
       <hr>

    <div class="profile-actions">
        <div class="profile-action justify-between">
           <div>
            <i class="fa fa-search"></i> Search Messages
           </div> 
            <span class="material-symbols-outlined mr-4">
                navigate_next
                </span>
        </div>
        
        <hr>
        <div class="profile-action">
            <div><i class="fa fa-folder"></i> Files and Media</div>
            <span class="material-symbols-outlined mr-4">
                navigate_next
                </span>
        </div>
        <hr>
        <div class=" bg-gray-100 py-2">
           
                <div class="mb-4 flex flex-row">
                    <span class="material-symbols-outlined mb-2">
                        person_add
                        </span>
                    <span class="mb-2 ml-4">
                        Add a CoWorker
                    </span>
                </div>
                
             

        </div>
      
    </div>
    
    <!-- Rest of the profile details content -->
</div>
