
<!-- <app-sidebar class="div-app-sidebar"></app-sidebar> -->
<div class="post-ad-form" *ngIf="showModal">
  <div class="div-card mt-40">
    <div class="div-bg">
    </div>
    <div class="div-size">
      <div class="div-details">
        <p>Are you sure you want to add this multiple requirements?</p>
        <div class="mt-4 flex justify-end">
          <button class="div-btn" (click)="showModal = false">No</button>
          <button class="div-btn-set" (click)="OnSetY()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
 
    <!-- Your form inputs and labels here -->

    <style>@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css')</style>
    <style>
    
    .form-radio {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      -webkit-print-color-adjust: exact;
              color-adjust: exact;
      display: inline-block;
      vertical-align: middle;
      background-origin: border-box;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      flex-shrink: 0;
      border-radius: 100%;
      border-width: 2px;
    }
    
    .form-radio:checked {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
      border-color: transparent;
      background-color: currentColor;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    @media not print {
      .form-radio::-ms-check {
        border-width: 1px;
        color: transparent;
        background: inherit;
        border-color: inherit;
        border-radius: inherit;
      }
    }
    
    .form-radio:focus {
      outline: none;
    }
    
    .form-select {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      -webkit-print-color-adjust: exact;
              color-adjust: exact;
      background-repeat: no-repeat;
      padding-top: 0.5rem;
      padding-right: 2.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      background-position: right 0.5rem center;
      background-size: 1.5em 1.5em;
    }
    
    .form-select::-ms-expand {
      color: #a0aec0;
      border: none;
    }
    
    
    @media not print {
      .form-select::-ms-expand {
        display: none;
      }
    }
    
    @media print and (-ms-high-contrast: active), print and (-ms-high-contrast: none) {
      .form-select {
        padding-right: 0.75rem;
      }
    }
    
    </style>
    
      
      <div *ngIf="statusMsg === 'Failed'" class="div w-max mx-auto" role="alert">
        <strong class="font-bold">Holy smokes!</strong>
        <span class="block sm:inline">Something seriously bad happened.</span>
      </div>
      <div *ngIf="statusMsg === 'Success'" class="div-box w-max  mx-auto" role="alert">
        <strong class="font-bold">Successfully</strong>
        <span class="block sm:inline">Uploaded the file {{fileName}}</span>
      </div>
    
      <div *ngIf="showFile" class="w-max  mx-auto bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative z-50" role="alert">
        <strong class="font-bold">{{fileName}}</strong>
        <span class="block sm:inline"> Has been selected for upload</span>
      </div>
    
      <div class="min-h-[300px] min-w-[800px] w-5 mt-10 mb-10 bg-gray-100 shadow-lg mx-auto">
        <div class="flex items-center justify-center min-h-full min-w-[800px] bg-blue-100 py-5">
          <div class="px-5">
            <div class="mb-2">
              <h1  mat-dialog-content class="text-3xl md:text-3xl font-bold text-gray-600">New Advertisement</h1>
            </div>
            
            <!-- <div class="mb-5 text-gray-400">
                <a href="#" class="focus:outline-none hover:underline text-gray-500">Home</a> / <a href="#" class="focus:outline-none hover:underline text-gray-500">Cart</a> / <span class="text-gray-600">Checkout</span>
            </div> -->
        </div>
        
    </div>
        <div class="min-h-[300px] min-w-[800px]  bg-blue border-t border-b border-gray-200 px-5 py-10 text-gray-800 shadow-lg -mt-16">
        
               
                    <!-- <div class="px-3 md:w-7/12 lg:pr-10"> -->
                        <div class="min-w-[200px] min-h-[100px] mx-auto text-gr ay-800 font-light mb-6 border-b border-gray-500 pb-6">
                            <div class="min-w-[600px] min-h-[100px] flex items-center mt-0">
                                
                               
                                <div class="flex-grow px-2 ml-0 lg:max-w-xs mt-8">
                                    <label class="text-gray-600 rounded-lg font-semibold text-sm mb-2 ml-1">Port of Departure</label>
                                    <div class="bg-white font-medium rounded-lg shadow-lg">
                                        <select #port [(ngModel)]="port_of_departure" class="w-full px-3 py-2 border border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors shadow-lg">
                                            <option selected>Select your port </option>
                                            <option  *ngFor ="let port of port_list" [value]="port.port_name">{{port.port_name}}</option>
                                          </select>
                                      </div>
                                </div>

                                <div class="flex-grow px-2 ml-0 lg:max-w-xs mt-8">
                                    <label class="text-gray-600 font-semibold rounded-lg text-sm mb-2 ml-1">Port of Arrival</label>
                                    <div class="bg-white font-medium rounded-lg shadow-lg">
                                        <select #port [(ngModel)]="port_of_arrival" class="w-full px-3 py-2 border border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors shadow-lg" placeholder="Select here" >
                                            <option selected>Select your port </option>
                                            <option  *ngFor ="let port of port_list" [value]="port.port_name">{{port.port_name}}</option>
                                          </select>
                                      </div>
                                </div>
                                <div class="flex-grow px-2 ml-0 lg:max-w-xs mt-8">
                                    <label class="text-gray-600 font-semibold text-sm mb-2 ml-1">From Date</label>
                                    <div>
                                        <input class="w-full px-3 py-2 border border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors shadow-lg"  placeholder="Enter your duration here..."
                                        [(ngModel)]="from_date" type="date"/>
                                    </div>
                                  
                                </div>
                                <div class="flex-grow px-2 ml-0  lg:max-w-xs mt-8">
                                  <label class="text-gray-600 font-semibold text-sm mb-2 ml-1">For a period</label>
                                    <div>
                                        <input class="w-full px-3 py-2 border border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors shadow-lg" type="number" [(ngModel)]="expiry_date" step="1" min="1" max="100" placeholder="In weeks"/>
                                    </div>
                                 
                                </div>
                                
                            </div>

                            
                        </div>
                        <div class="min-w-[200px] min-h-[100px] mx-auto text-gray-800 font-light mb-6 border-b border-gray-500 pb-6">
                            <div class="min-w-[600px] min-h-[100px] flex items-center">
                               
                                <div class="flex-grow px-2 lg:max-w-xs">
                                    <label class="text-gray-600 font-semibold text-sm mb-2 ml-1">Select your requirement</label>
                                   
                                        <div class="flex text-black-600 left-0 mt-1">
                                        <button
                                             *ngFor="let option of options; let i = index"
                                             class="radio-button shadow-lg"
                                             [ngClass]="{ 'radio-button--selected shadow-lg': selectedOption === i }"
                                             (click)="selectOption(i)"
                                             [(ngModel)]="type_of_ad"
                                            >
                                             {{ option }}
                                            </button>
                                            </div>
                                       
                                
                                                                
                                        <label class="text-gray-500 font-semi text-sm mb-2 ml-1">Type of requirement</label>
                                </div>
                                <div class="flex-grow px-2 lg:max-w-xs">
                                    <label class="text-gray-600 font-semibold text-sm mb-2 ml-1"  >Quantity</label>
                                    <div>
                                        <input class="w-full px-3 py-2 shadow-lg border border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors" [(ngModel)]="quantity" placeholder="XXXXXX" type="number"/>
                                    </div>
                                    <label class="text-gray-500 font-semi text-sm mb-2 ml-1">Number of TEU's</label>
                                </div>
    
                                <div class="flex-grow px-2 lg:max-w-xs">
                                    <label class="text-gray-600 font-semibold text-sm mb-2 ml-1">Container Type</label>
                                    <div>
                                        <select #port [(ngModel)]="container_type_id"  class="w-full px-3 py-2 border border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors shadow-lg" placeholder="Select here" >
                                            <option selected>Select your port </option>
                                            <option  *ngFor ="let CType of CType_list" [value]="CType.container_type_id">{{CType.type}}</option>
                                          </select>
                                    </div>
                                    <label class="text-gray-500 font-semi text-sm mb-2 ml-1">Select Here</label>
                                </div>
    
    
    
                                <div class="flex-grow px-2 mb-6 lg:max-w-xs">
                                    <label class="text-gray-600 rounded-lg font-semibold text-sm mb-2 ml-1">Ad for Port</label>
                                    <div class="bg-white font-medium rounded-lg shadow-lg">
                                        <select #port [(ngModel)]="port_id" class="w-full px-3 py-2 border border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors shadow-lg">
                                            <option selected>Select your port </option>
                                            <option  *ngFor ="let port of port_list" [value]="port.port_id">{{port.port_name}}</option>
                                          </select>
                                      </div>
                                      
                                </div>
                                
                                
                                
                            </div>
                        </div>
                        <div class="min-w-[200px] min-h-[100px] mx-auto text-gray-800 font-light mb-6 border-b border-gray-500 pb-6">
                            
                            
                            <label class="text-gray-900 md:text-2xl font-bold text-sm mb-4 ml-2">Terms</label>
                            <div class="min-w-[600px] min-h-[100px] flex items-center">

                                <div class="flex-grow px-2 ml-0 lg:max-w-xs">
                                    <label class="text-gray-600 font-semibold text-sm mb-2 ml-1">Price</label>
                                    <div>
                                        <input [(ngModel)]="price" class="w-full px-3 py-2 border border-gray-200 shadow-lg rounded-md focus:outline-none focus:border-indigo-500 transition-colors" placeholder="XXXXXX" type="number"/>
                                        
                                    </div>
                                     <label class="text-gray-500 font-semi text-sm mb-2 ml-1">Price per TEU IN $</label>
                                </div>
                               
                                <div class="flex-grow px-2 ml-0 lg:max-w-xs">
                                    <label class="text-gray-600 font-semibold text-sm mb-2 ml-1">Free Days</label>
                                    
                                    <div>
                                        <input [(ngModel)]="free_days" class="w-full px-3 py-2 border shadow-lg border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors" placeholder="XXXXXX" type="number"/>
                                        
                                    </div>
                                    <label class="text-gray-500 font-semi text-sm mb-2 ml-1">Days(per container)</label>
                                </div>
                                <div class="flex-grow px-2 ml-0 lg:max-w-xs">
                                    <label class="text-gray-600 font-semibold text-sm mb-2 ml-1">Per Diem</label>
                                    <div>
                                        <input [(ngModel)]="per_diem" class="w-full px-3 py-2 border shadow-lg border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors" placeholder="per day after free days" type="text"/>
                                    </div>
                                    <label class="text-gray-500 font-semi text-sm mb-2 ml-1">USD $</label>
                                </div>
                                <div class="flex-grow px-2 lg:max-w-xs">
                                    <label class="text-gray-600 font-semibold text-sm mb-2 ml-1">Pick up charges</label>
                                    <div>
                                        <input [(ngModel)]="pickup_charges" class="w-full px-3 py-2 border shadow-lg border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors" placeholder="XXXXXX" type="text"/>
                                        
                                    </div>
                                     <label class="text-gray-500 font-semi text-sm mb-2 ml-1">USD $(per container)</label>
                                </div>
                                
                                
                            </div>
                        </div>

                         
                        <div class="flex justify-between items-center">
                          <div class="w-1/3">
                            
                                
                                     
                                      <div class="flex-grow px-2 lg:max-w-xs">
                                          <label class="w-2/2 text-gray-600 font-semibold text-sm mb-2 ml-1">Comments</label>
                                          <div>
                                              <textarea [(ngModel)]="contents" class="shadow-lg w-full px-3 py-2 mb-4 border border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors" placeholder="Write your comments here"style="height: 150px; width: 100%;" ></textarea>
                                             
                                          </div>
                                      </div>
                          </div>
    
                          <div class="flex w-2/3 justify-between items-center">
                            <div class="w-1/2 mr-2  mx-auto h-40 w-60 mb-8">
                              
                                <label class="shadow-lg w-2/2 text-gray-600 font-semibold text-sm mb-2 ml-14 ">Upload pdf related to Ad</label>
                                <div class="mt-4 bg-gray-400 flex justify-center ml-10 mr-5 px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                                   
                                    <div class="space-y-1 text-center h-20 ">
                                      <svg class="mx-auto h-12 w-12 text-white" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                        <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                      </svg>
                                      <div class="flex text-sm text-gray-600">
                                        <label class="relative cursor-pointer bg-blue-500 rounded-md font-medium text-white hover:text-white-500 focus-within:outline-none focus-within:ring-3 focus-within:ring-offset-3 focus-within:ring-indigo-500">
                                          <span class="">Upload Pdf Here </span>
                                          <input class="sr-only" type="file"  (change)="onChange($event)"
                                          accept="application/pdf">
                                        </label>
                                       
                                      </div>
                                      <p class="pl-1 text-white">or drag and drop</p>
                                   
                              
                                    </div>
                                    
                                 </div>
                                 
                            </div>  
                            
                      
                              <!-- upload pdf code goes here -->
                          
                            
                           
                              <div class="w-1/2 ml-2  mx-auto h-40 w-60 mb-8">
                              
                                    
                                    
                                      <div class="flex-grow lg:max-w-xs ">
                                          <label class="shadow-lg w-2/2 text-gray-600 font-semibold text-sm mb-2 ml-4">Upload multiple requirement</label>
                                          <div class="mt-4 bg-gray-400 flex justify-center ml-5 mr-12 px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                                            
                                              <div class="space-y-1 text-center h-20">
                                                <svg class="mx-auto h-12 w-12 text-white" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                                <div class="flex text-sm text-gray-600">
                                                  <label class="relative cursor-pointer bg-blue-500 rounded-md font-medium text-white hover:text-white-500 focus-within:outline-none focus-within:ring-3 focus-within:ring-offset-3 focus-within:ring-indigo-500">
                                                    <span class="">Upload Excel Here </span>
                                                    <input class="sr-only" type="file"  (change)="onExcelRead($event)"
                                                    accept="application/Excel">
                                                  </label>
                                                
                                                </div>
                                                
                                                <p class="pl-1 text-white">or drag and drop</p>
                                               
                                        
                                              </div>
                                              
                                          </div>
                                          
                                      </div>  
                                <!-- upload pdf code goes here -->
                                


                         </div> 
                          </div>
                        </div>

                         <div class="min-w-[200px] min-h-[100px]mx-auto text-gray-800 font-light mb-6 border-b border-gray-500 pb-6 mr-5">
                           
                            <div class="min-w-[800px] flex items-center">
                               
                                <div class="flex-grow px-2 lg:max-w-xs">
                                    
                                        <div>
                                            <button *ngIf="ContinueDraft === 0" class="inline-flex justify-center  items-center space-x-2 border font-semibold focus:outline-none w-full px-4 py-3 leading-6 rounded border-blue-700 bg-white-500 text-black hover:text-black hover:bg-blue-800 hover:border-blue-700 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-500 active:border-blue-500" 
                                            type="button" (click)="Draft()">Save as Draft</button>
                                        </div>
                                        
                                        <div class="mt-2">
                                            <button (click)="PostAd()" *ngIf="ContinueDraft=== 0" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none w-full px-4 py-3 leading-6 rounded border-blue-700 bg-white-500 text-black bg-blue-500 w-20 hover:bg-black-700 text-white mr-8 font-bold py-2 px-4 rounded disabled:opacity-50 hover:text-white hover:bg-blue-800 hover:border-blue-700 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-500">Send for approval</button>
                                        </div>

                                        <div class="mt-2">
                                          <button (click)="continueDraft(adId)" *ngIf="ContinueDraft=== 1" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none w-full px-4 py-3 leading-6 rounded border-blue-700 bg-white-500 text-black bg-blue-500 w-20 hover:bg-black-700 text-white mr-8 font-bold py-2 px-4 rounded disabled:opacity-50 hover:text-white hover:bg-blue-800 hover:border-blue-700 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-500">Save as Draft</button>
                                        </div>

                                        <div class="mt-2">
                                          <button (click)="DraftPosting(adId)" *ngIf="ContinueDraft=== 1" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none w-full px-4 py-3 leading-6 rounded border-blue-700 bg-white-500 text-black bg-blue-500 w-20 hover:bg-black-700 text-white mr-8 font-bold py-2 px-4 rounded disabled:opacity-50 hover:text-white hover:bg-blue-800 hover:border-blue-700 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-500">Post for approval</button>
                                        
                                        </div>

                                        <div class="mt-2">
                                          <button (click)="approve(adId)" *ngIf="Approve=== 1" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none w-full px-4 py-3 leading-6 rounded border-blue-700 bg-white-500 text-black bg-blue-500 w-20 hover:bg-black-700 text-white mr-8 font-bold py-2 px-4 rounded disabled:opacity-50 hover:text-white hover:bg-blue-800 hover:border-blue-700 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-500">Approve</button>   
                                        </div>
                                       
                                        </div>
                                
                            </div>
                            
                        </div>  
                        <div mat-dialog-actions class="flex justify-end mr-4">
                          <button mat-raised-button mat-dialog-close >Close</button>
                        </div>
        </div>
    
    
    