<app-header></app-header>
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <div class="flex justify-center">
    <div class ="sidebar-d">
        <nav class = "sidebar-nav">
            <a class="sidebar-a" routerLink="/dashboard">Dashboard </a>
            <a class="sidebar-a" routerLink="/profile">Profile</a>
            <a class="sidebar-a" >Search </a>
            <a class="sidebar-a" >Forecasting</a>
            <a class="sidebar-a" >Carriers</a>
            <a class="sidebar-a" >Negotiations</a>
            <a class="sidebar-a" >Ads</a>
        </nav>
    </div>
    <section class="div-section">
        <div class="h-full">
                <!-- Card background -->
                <form [formGroup]="addEmployeeForm" (ngSubmit)="onAdd()">
                <!-- Card body -->
                <div class="div-form" x-data="{ card: true }">
                    <div class="div-form-card">
                        <!-- Card header -->
                        <div class="text-center mb-6">
                            <div class="mb-2">
                                <img class="-mt-8 inline-flex rounded-full" src="assets/images/user.jpg" width="64" height="64" alt="User" />
                            </div>
                            <h1 class="div-h1">User Information</h1>
                        </div>
    
                        <!-- Toggle -->
                 
                        <!-- Card form -->
                        <div x-show="card">
                            <div class="space-y-4">
                               
                                <div>
                                    <label class="div-card-label" for="card-nr">First Name<span class="text-red-500">*</span></label>
                                    <input formControlName="fname" id="card-nr" class="div-input" type="text" placeholder="" />
                                </div>
                              
                                <div class="flex space-x-4">
                                    <div class="flex-1">
                                        <label class="div-card-label" for="card-expiry">Last Name<span class="text-red-500">*</span></label>
                                        <input formControlName="lname" id="card-expiry" class="div-input" type="text" placeholder="" />
                                    </div>
                                    <div class="flex-1">
                                        <label class="div-card-label" for="card-cvc">Phone Number <span class="text-red-500">*</span></label>
                                        <input id="card-cvc" formControlName="phone_no" class="div-input" type="text" placeholder="" />
                                    </div>
                                </div>
                               
                                <div>
                                    <label class="div-card-label" for="card-name">Email<span class="text-red-500">*</span></label>
                                    <input id="card-name" formControlName="email"  class="div-input" type="email" placeholder="" />
                                </div>
                              
                                <div>
                                    <label class="div-card-label" for="card-email">Address <span class="text-red-500">*</span></label>
                                    <input formControlName="address"  class="div-input" type="text" placeholder="" />
                                </div>
                                
                                <div>
                                    <label class="div-card-label" for="card-email">Password<span class="text-red-500">*</span></label>
                                    <input formControlName="password"  class="div-input" type="text" placeholder="" />
                                </div>
                            </div>
                        </div>
                            <hr class="div-hr">
                        <form  (ngSubmit)="onAdd()">
                                  <h6 class="section-form-h6">
                                    <div class="text-center mb-6">
                                        <h1 class="form-h1">User Permissions</h1>
                                    </div>
                                      </h6>
                                  <h2 class="form-h2">Advertisement :</h2>
                                  &nbsp;
                            <label  for="advertisementRead"> Read</label> &nbsp;
                            <input type="checkbox" id="advertisementRead" name="permissions[]" value=1 [(ngModel)]="advertisementRead" (change)="onPermissionChange($event, 1)">
                            &nbsp;
                            <label for="advertisementWrite">Write</label> &nbsp;
                            <input type="checkbox" id="advertisementWrite" name="permissions[]" value=2 [(ngModel)]="advertisementWrite" (change)="onPermissionChange($event, 2)"
                                onclick="document.getElementById('advertisementRead').checked = this.checked;">
                                  <div></div>
                                  <br>
                            <h2 class="form-h2">Negotiation :</h2>
                                  &nbsp;
                            <label for="NegotiationRead"> Read</label> &nbsp;
                            <input type="checkbox" id="NegotiationRead" name="permissions[]" value=3 [(ngModel)]="NegotiationRead" (change)="onPermissionChange($event, 3)">
                            &nbsp;
                            <label for="NegotiationWrite"> Write</label> &nbsp;
                            <input type="checkbox" id="NegotiationWrite" name="permissions[]" value=4 [(ngModel)]="NegotiationWrite" (change)="onPermissionChange($event, 4)"
                            onclick="document.getElementById('NegotiationRead').checked = this.checked;">
                                  <div></div>
                                  <br>
                                <!-- <div class="form-group">
                                    <label class="form-h2">Selected Permissions:</label>
                                    <ul>
                                      <li *ngFor="let permission of permissionList?.values()">{{ permission }}</li>
                                    </ul>
                                  </div> -->
                        </form>
                            <div class="flex justify-center space-x-2">
                                  <button type="submit" class="div-submit-btn">
                                       Save
                                    </button>
                            </div>
    
    
                    </div>
                </div>
                </form>
              
            </div>
        
    </section>
    </div>
   