<app-header></app-header>
<script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
<div class="flex justify-middle">
    <app-sidebar></app-sidebar>
    <section class="ml-44 antialiased max-w-20x2 bg-gray-40 text-black min-h-screen p-20">
        <div class="h-full">
            <!-- Card background -->
            <form [formGroup]="addEmployeeForm" (ngSubmit)="onAdd()">
                <!-- Card body -->
                <div class="relative px-4 md:px-6 lg:px-8 pb-8 max-w-lg mx-auto" x-data="{ card: true }">
                    <div class="div-form-card">
                        <!-- Card header -->
                        <div class="text-center mb-6">
                            <div class="mb-2">
                                <img class="-mt-8 inline-flex rounded-full" src="assets/images/user.jpg" width="64"
                                    height="64" alt="User" />
                            </div>
                            <h1 class="div-h1">User Information</h1>
                        </div>

                        <!-- Toggle -->

                        <!-- Card form -->
                        <div x-show="card">
                            <div class="space-y-4">

                                <div>
                                    <label class="div-card-label" for="card-nr">First Name<span
                                            class="text-red-500">*</span></label>
                                    <input formControlName="fname" id="card-nr" class="div-input" type="text"
                                        placeholder="" />
                                        <div
                                        *ngIf="showValidationErrors && addEmployeeForm.get('fname')?.invalid"
                                        class="text-red-500 text-sm mt-1"
                                      >
                                      <div *ngIf="addEmployeeForm.get('fname')?.errors?.['required']">First Name is required</div>
                                      <div *ngIf="addEmployeeForm.get('fname')?.errors?.['pattern']">Invalid input. Only characters are allowed.</div>    
                                </div>
                                </div>

                                <div class="flex space-x-4">
                                    <div class="flex-1">
                                        <label class="div-card-label" for="card-expiry">Last Name<span
                                                class="text-red-500">*</span></label>
                                        <input formControlName="lname" id="card-expiry" class="div-input" type="text"
                                            placeholder="" />
                                            <div
                                            *ngIf="showValidationErrors && addEmployeeForm.get('lname')?.invalid"
                                            class="text-red-500 text-sm mt-1"
                                          >
                                          <div *ngIf="addEmployeeForm.get('lname')?.errors?.['required']">Last Name is required</div>
                                          <div *ngIf="addEmployeeForm.get('lname')?.errors?.['pattern']">Invalid input. Only characters are allowed.</div>    
                                    </div>
                                    </div>
                                    <div class="flex-1">
                                        <label class="div-card-label" for="card-cvc">Phone Number <span
                                                class="text-red-500">*</span></label>
                                        <input id="card-cvc" formControlName="phone_no" class="div-input" type="text"
                                            placeholder="" />
                                            <div
                                            *ngIf="showValidationErrors && addEmployeeForm.get('phone_no')?.invalid"
                                            class="text-red-500 text-sm mt-1"
                                          >
                                          <div *ngIf="addEmployeeForm.get('phone_no')?.errors?.['required']">Phone Number is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <label class="div-card-label" for="card-name">Email<span
                                            class="text-red-500">*</span></label>
                                    <input id="card-name" formControlName="email" class="div-input" type="email"
                                        placeholder="" />
                                        <div
                                        *ngIf="showValidationErrors && addEmployeeForm.get('email')?.invalid"
                                        class="text-red-500 text-sm mt-1"
                                      >
                                      <div *ngIf="addEmployeeForm.get('email')?.errors?.['required']">Email is required</div>
                                          <div *ngIf="addEmployeeForm.get('email')?.errors?.['email']">Invalid email format</div>
                                        
                                      </div>
                                </div>

                                <div>
                                    <label class="div-card-label" for="card-email">Address <span
                                            class="text-red-500">*</span></label>
                                    <input formControlName="address" class="div-input" type="text" placeholder="" />
                                    <div
                                    *ngIf="showValidationErrors && addEmployeeForm.get('address')?.invalid"
                                    class="text-red-500 text-sm mt-1"
                                  >
                                  <div *ngIf="showValidationErrors && addEmployeeForm.get('address')?.invalid" class="text-red-500 text-sm mt-1">
                                    <div *ngIf="addEmployeeForm.get('address')?.errors?.['required']">Country is required</div>
                                    <div *ngIf="addEmployeeForm.get('address')?.errors?.['pattern']">Invalid input. Only characters are allowed.</div>
                                  </div>
                                    </div>
                                </div>
                                <div>
                                    <label class="div-card-label" for="card-email">Password<span
                                            class="text-red-500">*</span></label>
                                    <input formControlName="password" class="div-input"
                                    type="{{ showPassword ? 'text' : 'password' }}"
                                    id="password"
                                    placeholder="Password"
                                    required
                                    minlength="8"
                                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$" />
                                    <a class="absolute bottom-16 right-20" (click)="togglePasswordVisibility()">
                                        <i class="fas" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                                      </a>
                                                      </div>
                                                      <div *ngIf="showValidationErrors && addEmployeeForm.get('password')?.invalid" class="text-red-500 text-sm mt-1">
                                                        <div *ngIf="addEmployeeForm.get('password')?.errors?.['required']">Password is required</div>
                                                        <div *ngIf="addEmployeeForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long</div>
                                                        <div *ngIf="addEmployeeForm.get('password')?.errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, and one digit</div>
                                           
                                                    
                                </div>
                            </div>
                        </div>
                       
                    
                        
                    </div>
                </div>
            </form>

        </div>

    </section>
    <section class="antialiased max-w-20x2 bg-gray-40 text-black min-h-screen p-20 top-0">
        <div class="h-full">
            <!-- Card background -->
            <form (ngSubmit)="onAdd()">
                <!-- Card body -->
                <div class="relative px-10 md:px-10 lg:px-8 pb-10 max-w-x10 mx-auto" x-data="{ card: true }">
                    <div class="bg-white px-20 pb-10 rounded-b shadow-2xl -ml-40">
                        <!-- Card header -->
                        <div class="text-center mb-6">
                            <div class="mb-2">
                                <img class="-mt-8 inline-flex rounded-full" src="assets/images/user.jpg" width="64"
                                    height="64" alt="User" />
                            </div>
                            <h1 class="div-h1">User Permissions</h1>
                        </div>

                        <!-- Toggle -->

                        <!-- Card form -->
                        <table class="w-80 h-full text-sm text-left font-medium text-black dark:text-black border-2 border-black">
                            <thead class="text-xs w-20 text-white uppercase font-medium bg-gray-400 border-black dark:text-white border-2">
                                <tr>
                                  <th scope="col" class="px-12 py-5">
                                    <div class="relative">
                                      <div class="min-h-[3rem]  absolute -left-3 -mt-2">
                                        Action
                                      </div>
                                    </div>
                                  </th>
                                  <th scope="col" class="px-12 py-5">
                                    <div class="relative">
                                      <div class="min-h-[3rem]  absolute left-10 -mt-2">
                                        Type
                                      </div>
                                    </div>
                                  </th>
                                </tr>
                              </thead>
                              
                            <tbody>
                                <ng-container *ngFor="let p of PList; let i = index">
                                  <ng-container *ngIf="i % 2 === 0">
                                    <tr class="row">
                                        <td class="col-md-20 mb-6 text-center -right-20" style="padding-left:10px;">{{ p.type }}</td>
                                        <td class="col-md-20 text-right" style="padding: 0.5em;">
                                          <div class="flex">
                                            <div class="form-check form-check-inline ml-10">
                                              <label class="w-4 h-4 mt-2 text-black-600 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" [for]="p.type + '-read'">Read&ensp;</label>
                                              <input class="text-sm font-medium text-gray-900 dark:text-gray-300" checked type="checkbox" [id]="p.type + '-read'" [name]="p.type + '-read'" [checked]="p?.read" (change)="updateReadAccess(p, $event)">
                                            </div>
                                            <div class="form-check form-check-inline ml-4">
                                              <!-- Add spacing between the checkboxes using ml-4 -->
                                              <label class="w-4 h-4 mt-2 text-black-600 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" [for]="p.type + '-write'">Write&ensp;</label>
                                              <input class="text-sm font-medium text-gray-900 dark:text-gray-300" type="checkbox" [id]="p.type + '-write'" [name]="p.type + '-write'" [checked]="p?.write" (change)="updateReadAccess(p, $event)">
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      
                                      
                                  </ng-container>
                                </ng-container>
                              </tbody>
                        </table>
                   
                        <div class="flex justify-center space-x-2 mt-3">
                            <button type="submit" class="signin-btn mt-4">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </section>
</div>