@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .bg-blueGray-100 {
        --tw-bg-opacity: 1;
        background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
      
  }
  .text-blueGray-600 {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
  }
  .placeholder-blueGray-300::placeholder {
    --tw-placeholder-opacity: 1;
    color: black;
  }
  
    .Poppins {
      font-family: Poppins;
    }
    .menu-tile{
        @apply text-left py-2 px-1 cursor-pointer  ;
    }
}
@layer utilities {
  .max-w-20x2 {
    max-width: 40rem; /* adjust the value as per your requirement */
  }
  .bg-gray-40 {
    background-color: #f5f5f5; /* adjust the color as per your requirement */
  }
  .bg-white-1000 {
    background-color: #ffffff; /* adjust the color as per your requirement */
  }
}
.border-b-1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
.border-blueGray-300 {
    border-color: #CBD5E1;
  }
  
  .div-app-sidebar{
    @apply sticky w-[110px] border-r-2 z-50;
  }

.div-section{
@apply antialiased max-w-20x2 bg-gray-40 text-black min-h-screen p-20
}
.section-div-bg{
    @apply relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0
}
.section-form{
    @apply flex-auto px-4 lg:px-5 py-10 pt-0
}
.section-form-h6{
    @apply text-black text-sm mt-3 mb-6 font-bold uppercase
}
.div-label{
    @apply block uppercase text-blueGray-600 text-xs font-bold mb-2
}
.div-label-input{
    @apply border-0 px-3 py-3 placeholder-blueGray-300 font-bold mb-2 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150
}
.div-hr{
    @apply mt-6 border-b-1 border-blueGray-300
}
.div-submit-btn{
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded 
}
.section {
    font-family: 'Inter', sans-serif;
  }
  .sidebar-d {
    @apply block h-screen shadow-md font-poppins fixed w-[110px] border-r-2 z-50 left-0;
  }
  
.sidebar-nav{
    @apply flex flex-col w-fit;
}
.sidebar-a{
    @apply menu-tile hover:border-CCblue hover:text-CCblue hover:border-l-4 Poppins  text-xs;
}
.div-form{
  @apply relative px-4 md:px-6 lg:px-8 pb-8 max-w-lg mx-auto
}
.div-h1{
  @apply text-xl leading-snug text-gray-800 font-semibold mb-2
}
.div-card-label{
  @apply block text-sm font-medium mb-1
}
.div-input{
  @apply text-sm text-gray-800 bg-white border-2 rounded leading-5 py-2 px-3 border-gray-200 hover:border-gray-300 focus:border-indigo-300 shadow-sm placeholder-gray-400 focus:ring-0 w-full
}
.form-h1{
  @apply text-xl leading-snug text-gray-800 font-semibold mb-2
}
.div-form-card{
  @apply bg-white-1000 px-8 pb-6 rounded-b shadow-2xl
}
.form-h2{
  @apply block text-sm font-medium mb-1
}