<div [class.hidden]="!showform" class="fixed inset-0 flex items-center justify-center rounded-lg">
  <div class="fixed inset-0 bg-black opacity-60 z-10"></div>
  <div class="mt-4 mx-auto font-poppins relative z-20">
    <div class=" justify-center h1 w-[55rem] h-[5rem]">
      <div>
        <div class="flex items-center justify-between ">
          <h1 class="ml-4 font-semibold mt-4 font-poppins add-h1 mb-4">
            Add New User</h1>
          <div>
            <button mat-dialog-close="" class="mr-4 mb-4 mt-4 text-black hover:text-gray-700 focus:outline-none">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 6L6 18M6 6L18 18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
            </button>
          </div>
        </div>
      </div>
    </div>
<mat-horizontal-stepper #stepper  linear ngClass="{{ 'last-edited-step-' + stepper.selectedIndex }}">
  <mat-step label="Details" [editable]="false" class="gray-line font-poppins text-xs">
    <form [formGroup]="addEmployeeForm" class="grid grid-cols-2 gap-x-4 mt-6 font-poppins">
      <div class="col-span-1">
        <h2 class="font-semibold mb-2 font-poppins -ml-2">Add User Details</h2>
          <label for="fname" class="bg-text -ml-2">First Name</label>
        <input
        formControlName="fname"
        class="register-page-data italic-placeholder -ml-2"
      placeholder="E.g. John"
      name="firstName"
      />
      <div
                  *ngIf="showValidationErrors && addEmployeeForm.get('fname')?.invalid"
                  class="text-red-500 text-sm mt-1">
                </div>

                <div class="error" *ngIf="addEmployeeForm?.get('fname')?.invalid && addEmployeeForm?.get('fname')?.errors?.['maxlength']">
                  Maximum limit exceeded.
                </div>
      </div>
      <div class="mt-10">
  
        <label for="fname" class="bg-text ml-2">Last Name</label>
        <input
          formControlName="lname"
          class="register-page-data italic-placeholder ml-2"
          placeholder="E.g. Wick"
          name="firstName"
        />
        <div
        *ngIf="showValidationErrors && addEmployeeForm.get('lname')?.invalid"
        class="text-red-500 text-sm mt-1">
      </div>

      <div class="error" *ngIf="addEmployeeForm?.get('lname')?.invalid && addEmployeeForm?.get('lname')?.errors?.['maxlength']">
        Maximum limit exceeded.
      </div>
      </div>
      <div class="col-span-1 mt-4">
        <label for="fname" class="bg-text -ml-2">Phone Number</label>
        <input
          formControlName="phone_no"
          class="register-page-data italic-placeholder -ml-2"
          placeholder="E.g. +918707312194"
          name="phone_no"
        />
        <div *ngIf="showValidationErrors && addEmployeeForm.get('phone_no')?.invalid" class="text-red-500 text-sm mt-1"></div>
        <div class="error" *ngIf="addEmployeeForm?.get('phone_no')?.invalid && addEmployeeForm?.get('phone_no')?.errors?.['maxlength']">
          Maximum limit exceeded.
        </div>
      </div>
      
      
      <div class="col-span-1 mt-4 ">
        <label for="email" class="bg-text ml-2">Email</label>
        <input
          formControlName="email"
          class="register-page-data italic-placeholder ml-2"
          placeholder="yourname@gmail.com"
          name="firstName"
        />
        <div *ngIf="showValidationErrors && addEmployeeForm.get('email')?.invalid" class="text-red-500 text-sm mt-1"></div>
        <div class="error" *ngIf="addEmployeeForm?.get('email')?.invalid && addEmployeeForm?.get('email')?.errors?.['maxlength']">
          Maximum limit exceeded.
        </div>
      </div>
      <div class="col-span-2 mt-4">  
        <label for="fname" class="bg-text">Address<span class="optional"> (optional)</span></label>
        <input
          formControlName="address"
          class="register-page-data italic-placeholder -ml-1"
          placeholder="E.g. Marenahalli, Bangalore, India"
          name="firstName"
        />
        
      </div>
      <div class="mb-1 mt-4">
        <h2 class="font-semibold mb-2 font-poppins -ml-2">Create Password</h2>
        <label for="fname" class="bg-text -ml-2">Password</label>
        <div class="relative">
          <input
            formControlName="password"
            [readOnly]="isEdit"
            class="register-page-data -ml-2 italic-placeholder pr-10"
            required
            minlength="8"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$"
            
            type="{{ showPassword ? 'text' : 'password' }}"
            placeholder=""
            name="password"
          />
          <div *ngIf="showValidationErrors && addEmployeeForm.get('password')?.invalid" class="text-red-500 text-sm mt-1"></div>
          <div class="error" *ngIf="!isEdit &&addEmployeeForm?.get('password')?.invalid && addEmployeeForm?.get('password')?.errors?.['maxlength']">
            Maximum limit exceeded.
          </div>
          <span *ngIf="!isEdit" class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer" (click)="showPassword = !showPassword">
            <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </span>
          
        </div>
      </div>
      <div class="mt-14">
        <label for="fname" class=" mt-20 bg-text ml-2">Confirm Password</label>
        <div class="relative">
          <input
            formControlName="confirm_password"
            [readOnly]="isEdit"
            class="register-page-data italic-placeholder pr-10 ml-2"
            placeholder=""
            name="firstName"
            type="{{ showPassword ? 'text' : 'password' }}"
          />
          <div *ngIf="showValidationErrors &&  addEmployeeForm.get('confirm_password')?.invalid" class="text-red-500 text-sm mt-1"></div>
          <div class="error" *ngIf="!isEdit && addEmployeeForm?.get('confirm_password')?.invalid && addEmployeeForm?.get('confirm_password')?.errors?.['maxlength']">
            Maximum limit exceeded.
          </div>
           <span *ngIf="!isEdit" class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer" (click)="showPassword = !showPassword">
            <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </span>
        </div>
      </div>
    </form>
    <div class="flex flex-grow">
      <button mat-button matDialogClose="" class="font-poppins inline-flex ml-4 justify-center items-center space-0 font-light focus:outline-none w-full px-4 py-1 leading-6 border-2 bg-gray-100 text-black mt-4">
        Cancel
      </button>
      <button  (click)="openDialog(stepper)" type="button" class=" font-poppins ml-4 mr-4 inline-flex justify-center items-center space-0 font-light focus:outline-none w-full px-4 py-1 leading-6 border-CCblue bg-CCblue text-white mt-4">
        Next
      </button>
    </div>  
  </mat-step>

  <mat-step label="Permissions" class="blue-line"[editable]="false">
    <form [formGroup]="addEmployeeForm" class="mt-6">
      <div>
        <h2 class="font-medium mb-4 ml-3 font-poppins">Add User Permissions</h2>
        <table class="min-w-[770px] min-h-full border-2 ml-2 mb-2 font-poppins">
          <thead >
            <tr >
              <th class="py-2 justify-start font-poppins bg-gray-100">Action</th>
              <th class="py-2 justify-end font-poppins bg-gray-100">Type</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let p of PList; let i = index">
              <ng-container *ngIf="i % 2 === 0">
                <tr class="row border-2 font-poppins">
                    <td class="col-md-20 mb-6 ml-4" style="padding-left:14px;">{{ p.type }}</td>
                    <td class="col-md-20 text-right" style="padding: 0.5em;">
                      <div class="flex">
                        <div class="form-check form-check-inline ml-40 font-poppins">
                          <input class="text-sm font-medium text-gray-900 font-poppins" checked type="checkbox" [id]="p.type + '-read'" [name]="p.type + '-read'" [checked]="p?.read" (change)="updateReadAccess(p, $event)">
                          <label class="w-4 h-4 ml-3 text-black-600 border-gray-300 rounded focus:ring-blue-500 " [for]="p.type + '-read'">Read&ensp;</label>
                        </div>
                        <div class="form-check form-check-inline ml-10 font-poppins">
                          <input class="text-sm  font-medium text-gray-900 font-poppins "  type="checkbox" [id]="p.type + '-write'" [name]="p.type + '-write'" [checked]="p?.write" (change)="updateReadAccess(p, $event)">
                          <label class="w-4 h-4 ml-3 text-black-600 border-gray-300 rounded focus:ring-blue-500 " [for]="p.type + '-write'">Write&ensp;</label>
                        </div>
                      </div>
                    </td>
                  </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      
      </div>
      <div class="flex">
        <button mat-button matDialogClose="" class="mb-3 ml-6 inline-flex justify-center items-center space-0 font-light focus:outline-none w-full px-4 py-1 leading-6 border-2 bg-gray-100 text-black mt-4">
          Cancel
        </button>
        <button  matStepperNext (click)="onAdd()" type="submit" class="mb-3 ml-4 mr-4 inline-flex justify-center items-center space-0 font-light focus:outline-none w-full px-4 py-1 leading-6 border-2 bg-CCblue text-white mt-4">Submit</button>
      </div>  
    </form>
  </mat-step>
</mat-horizontal-stepper>

  </div>
</div>

