<div class="registration-form">
  <!-- User registration form here -->
  <div class="sub-text">Your details</div>

  <form [formGroup]="registrationForm"  autocomplete="off" role="presentation"(ngSubmit)="onSubmit()">
    <div class="grow w-full bg-white mb-8">
      <div class="rowbtn">

        
          <div class="relative">
            <label for="fname" class="label">First Name</label>
            <input
              type="text"
              formControlName="fname"
              onfocus="changeInputType(this, 'first name')"
              class="register-page-data page-input"
              type="text"
              id="fname"
              style="width: 145px;"
              placeholder="e.g. John" 
             
             
            
            />
                  <div
                  *ngIf="showValidationErrors && registrationForm.get('fname')?.invalid"
                  class="text-red-500 text-sm mt-1"
                >
                    </div>
        
            </div>
          <div class="relative">
            <label for="lname" class="label">Last Name</label>
            <input
              formControlName="lname"
              onfocus="changeInputType(this, 'last name')"
              class="register-page-data page-input"
              type="text"
              id="lname"
              style="width: 145px;"
              placeholder="e.g. Mark"
              autocomplete="hidden"
            
            />
                  <div
                  *ngIf="showValidationErrors && registrationForm.get('lname')?.invalid"
                  class="text-red-500 text-sm mt-1"
                >
               </div>
          </div>
      </div>

      <div class="col-span-2 mt-1">
        <label for="email" class="label">Email</label>
        <input
          [(ngModel)]="email"
          formControlName="email"
          onfocus="changeInputType(this, 'email')"
          class="register-page-data page-input"
          type="email"
          id="email"
          placeholder="e.g. someone@gmail.com"
          autocomplete="hidden"
        
        />
        <div
        *ngIf="showValidationErrors && registrationForm.get('email')?.invalid"
        class="text-red-500 text-sm mt-1"
      >
      
        </div>
      </div>
      <div class="rowbtn mt-1">
      <div class="space-y-1">
        <label for="address" class="label">Select country</label>
        <input
          list="countries"
          class="register-page-data page-input"
          type="text"
          id="address"
          style="width: 145px;"
          formControlName="address"
          
   
        />
        <datalist id="countries">
          <option *ngFor="let country of countryList" [value]="country"></option>
        </datalist>
        <div
        *ngIf="showValidationErrors && registrationForm.get('address')?.invalid"
        class="text-red-500 text-sm mt-1"
      >
      <div *ngIf="showValidationErrors && registrationForm.get('address')?.invalid" class="text-red-500 text-sm mt-1">
        <!-- <div class="warnings" *ngIf="registrationForm.get('address')?.errors?.['required']">Country is required</div>
        <div class="warnings" *ngIf="registrationForm.get('address')?.errors?.['pattern']">Invalid input. Only characters are allowed.</div> -->
        
      </div>
    </div>
      
      </div>
      <div class="space-y-1">
        <label for="address" class="label">City<span class="optional"> (Optional)</span></label>
        <input
          list="countries"
          class="register-page-data page-input"
          type="text"
          id="city"
          formControlName="city"
          autocomplete="hidden"
        style="width: 145px;"
        />
        <div
        *ngIf="showValidationErrors && registrationForm.get('address')?.invalid"
        class="text-red-500 text-sm mt-1"
      >
      <div *ngIf="showValidationErrors && registrationForm.get('address')?.invalid" class="text-red-500 text-sm mt-1">
        <!-- <div *ngIf="registrationForm.get('address')?.errors?.['required']">Country is required</div>
        <div *ngIf="registrationForm.get('address')?.errors?.['pattern']">Invalid input. Only characters are allowed.</div> -->
      </div>
    </div>
      
      </div>
      </div>
      <div class="space-y-1 col-span-2 mt-1">
        <label for="ph-no" class="label">Phone Number<span class="optional"> (Optional)</span></label>

        <input
          formControlName="phone_no"
          class="register-page-data page-input"
          type="text"
          autocomplete="none"
          readonly onfocus="this.removeAttribute('readonly');"
          
          id="ph-no"
         
        />
     
      </div>

      <div class="space-y-1 col-span-2 mt-1">
        <label for="company" class="label">Company</label>
        <select
          #company
          [(ngModel)]="company_name"
          formControlName="company_id"
          id="Company"
          class="register-page-data page-input"
          style="padding: 0px; padding-left: 10px;"
        >
      
          <!-- <option value="" disabled selected>Select your company</option> -->
          <option
            *ngFor="let company of company_list"
            [value]="company.company_id"
          >
            {{ company.name }}
          </option>
        </select>
        <div
        *ngIf="showValidationErrors && registrationForm.get('company_id')?.invalid"
        class="text-red-500 text-sm mt-1"
      >
      <!-- <div *ngIf="registrationForm.get('company_id')?.errors?.['required']">Company is required</div> -->
    </div>
      </div>

    
      <div class = 'space-y-1 col-span-2 mt-1'>
        <div >
          <label for="password" class="label">Create Password</label>
          <div class="password-container">
            <input
              formControlName="password"
              class="register-page-data page-input"
              type="{{ showPassword ? 'text' : 'password' }}"
              id="password"
              required
              minlength="8"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$"
            />
            <i style="color: #262626a6;" class="fas password-toggle" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()"></i>
<!--           
            <img
src="assets/images/Vector.png"

class="fas password-toggle"
[ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
/> -->
          </div>
          
                <div *ngIf="showValidationErrors && registrationForm.get('password')?.invalid" class="text-red-500 text-sm mt-1">
                  <!-- <div *ngIf="registrationForm.get('password')?.errors?.['required']">Password is required</div>
                  <div *ngIf="registrationForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long</div>
                  <div *ngIf="registrationForm.get('password')?.errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, and one digit</div> -->
                </div>
        </div>
        
      
      </div>

      <div class="checkbox-container mt-4 mb-2 term flex flex-row items-center gap-2">
        <div>
          <input type="checkbox" id="agreeCheckbox" formControlName="iagree" />
          <label for="agreeCheckbox">
            I agree to <a href="#" style="color: blue;">Terms &amp; services</a> and
            <a href="#" style="color: blue;">privacy policy</a>
          </label>
        </div>
       
      </div>
      <div *ngIf="showValidationErrors && registrationForm.get('iagree')?.invalid" class="text-red-500 text-xs mt-1">
        <div *ngIf="registrationForm.get('iagree')?.errors?.['required']" class="text-xs">
          You need to agree to our Terms & Services
        </div>
      </div>
  
      

      <div class="center-position mt-2 ">
         
        <button type="submit" class="btn-primary btn" style="height: 28px;" >
     
Continue
       
        </button>

      
      </div>
      <label class="center-position blw-btn-text">
        Already have an account ?
        <a href="/sign-in" style="color: blue;" class="underline">Sign In</a> 
     
      </label>
      


    </div>
  </form>
</div>