<div class="registration-form">
  <!-- User registration form here -->
  <div style="color: #120338; font-size: 24px; font-family: Poppins; font-weight: 500; line-height: 40px; margin-bottom: 32px;">Your details</div>


  <form [formGroup]="registrationForm"  autocomplete="off" role="presentation"(ngSubmit)="onSubmit()">
    <div class="grow w-full bg-white mb-8">
      <div class="rowbtn">

        
          <div class="relative">
            <label for="fname" class="label">First Name</label>
            <input
              type="text"
              formControlName="fname"
              onfocus="changeInputType(this, 'first name')"
              class="register-page-data page-input"
              type="text"
              id="fname"
              style="width: 145px; margin-top: 6px;height: 32px;"
              placeholder="e.g. John" 
             
             
            
            />
                <div
                  *ngIf="showValidationErrors && registrationForm.get('fname')?.invalid"
                  class="text-red-500 text-sm mt-1">
                </div>

                <div class="error" *ngIf="registrationForm?.get('fname')?.invalid && registrationForm?.get('fname')?.errors?.['maxlength']">
                  Maximum limit exceeded.
                </div>
                


            </div>
          <div class="relative">
            <label for="lname" class="label">Last Name</label>
            <input
              formControlName="lname"
              onfocus="changeInputType(this, 'last name')"
              class="register-page-data page-input"
              type="text"
              id="lname"
              style="width: 145px; margin-top: 6px; height: 32px;"
              placeholder="e.g. Mark"
              autocomplete="hidden"
            
            />
                  <div
                  *ngIf="showValidationErrors && registrationForm.get('lname')?.invalid"
                  class="text-red-500 text-sm mt-1"
                > 
                 
               </div>
               <div class="error" *ngIf="registrationForm?.get('lname')?.invalid && registrationForm?.get('lname')?.errors?.['maxlength']">
                Maximum limit exceeded.
              </div>
          </div>
      </div>

      <div class="col-span-2 mt-[0.5rem]">
        <label for="email" class="label" >Email</label>
        <input
          [(ngModel)]="email"
          formControlName="email"
          onfocus="changeInputType(this, 'email')"
          class="register-page-data page-input"
          type="email"
          id="email"
          style=" margin-top: 6px;padding: 10px 14px;height: 32px;"
          placeholder="e.g. someone@gmail.com"
          autocomplete="hidden"
        
        />
        <div
        *ngIf="showValidationErrors && registrationForm.get('email')?.invalid"
        class="text-red-500 text-sm mt-1"
      >
     
      
        </div>
         <div class="error" *ngIf="registrationForm?.get('email')?.invalid && registrationForm?.get('email')?.errors?.['maxlength']">
        Maximum limit exceeded.
      </div>
      </div>
      <div class="rowbtn mt-[0.5rem]">
      <div class="space-y-1">
        <label for="address" class="label">Select country</label>
        <select class=" border-2 page-input text-xs" style="padding: 0px; width: 145px; margin-top: 6px; height: 32px; padding-left: 6px; color: var(--gray-gray-9, #262626); font-size: 14px; font-family: Poppins; line-height: 20px;" id="address" formControlName="address">
          <option class="text-xs" *ngFor="let country of countryList" [value]="country.value">{{ country.name }}</option>
        </select>
        
    
        <div
        *ngIf="showValidationErrors && registrationForm.get('address')?.invalid"
        class="text-red-500 text-sm mt-1"
      >
      <div *ngIf="showValidationErrors && registrationForm.get('address')?.invalid" class="text-red-500 text-sm mt-1">
        <!-- <div class="warnings" *ngIf="registrationForm.get('address')?.errors?.['required']">Country is required</div>
        <div class="warnings" *ngIf="registrationForm.get('address')?.errors?.['pattern']">Invalid input. Only characters are allowed.</div> -->
        
      </div>
    </div>
      
      </div> &nbsp;
      <div class="space-y-1 ">
        <label for="address" class="label ml-2 ">City<span class="optional"> (Optional)</span></label>
        <input
          list="countries"
          class="register-page-data page-input ml-2"
          type="text"
          id="city"
          formControlName="city"
          autocomplete="hidden"
          style="width: 145px; margin-top: 6px;height: 32px;"
        />
        
        <div class="error" *ngIf="registrationForm?.get('city')?.invalid && registrationForm?.get('city')?.errors?.['maxlength']">
          Maximum limit exceeded.
        </div>
      </div>
      
      </div>
      
      <div class="space-y-1 col-span-2 mt-[0.5rem]">
        <label for="ph-no" class="label">Phone Number<span class="optional"> (Optional)</span></label>

        <input
          formControlName="phone_no"
          class="register-page-data page-input"
          type="text"
          autocomplete="none"
          readonly onfocus="this.removeAttribute('readonly');"
          style=" margin-top: 6px; height: 32px;"
          id="ph-no"
         
        />
       
      </div>
      <div class="error" *ngIf="registrationForm?.get('phone_no')?.invalid && registrationForm?.get('phone_no')?.errors?.['maxlength']">
        Maximum limit exceeded.
      </div>
      <div class="space-y-1 col-span-2 mt-[0.5rem]">
        <label for="company" class="label">Company</label>
        <input
          [(ngModel)]="enteredCompanyName"
          (input)="onCompanyNameChange($event)"
          name="companyName"
          id="Company"
          class="page-input"
          style="padding: 0px; padding-left: 10px; height: 32px; margin-top: 6px;padding-left: 6px; color: var(--gray-gray-9, #262626); font-size: 14px;  line-height: 20px;"
          placeholder="Enter company name"
        >
        <div
          *ngIf="showValidationErrors && registrationForm.get('company_id')?.invalid"
          class="text-red-500 text-sm mt-1"
        >
        </div>
      </div>
      
      
      <div class = 'space-y-1 col-span-2 mt-[0.5rem]'>
        <div >
          <label for="password" class="label">Create Password</label>
          <div class="password-container">
            <input
              formControlName="password"
              class="register-page-data page-input"
              type="{{ showPassword ? 'text' : 'password' }}"
              id="password"
              style=" margin-top: 6px; height: 32px;"
              required
              minlength="8"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$"
            />
            <i style="color: #262626; width: 14px;
            height: 8px;" class="fas password-toggle" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()"></i>

          </div>
          
                <div *ngIf="showValidationErrors && registrationForm.get('password')?.invalid" class="text-red-500 text-sm mt-1">
                  <!-- <div *ngIf="registrationForm.get('password')?.errors?.['required']">Password is required</div>
                  <div *ngIf="registrationForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long</div>
                  <div *ngIf="registrationForm.get('password')?.errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, and one digit</div> -->
                </div>
                <div class="error" *ngIf="registrationForm?.get('password')?.invalid && registrationForm?.get('password')?.errors?.['maxlength']">
                  Maximum limit exceeded.
                </div>
        </div>
        
      
      </div>

     <div class="checkbox-container"style="white-space: nowrap; mb-2 term flex flex-row items-center gap-2 mt-[1.25rem]">
    <input type="checkbox" id="agreeCheckbox" class="custom-checkbox" [checked]="checkEnabled" (change)="toggleCheckEnabled()" formControlName="iagree"  />
    <label for="agreeCheckbox" class="remme"  > &nbsp;
        I agree to <a href="#" style="color: blue;">Terms &amp; services</a> and <a href="#" style="color: blue;">privacy policy</a>
    </label>
</div>


    

      <div *ngIf="showValidationErrors && registrationForm.get('iagree')?.invalid" class="text-red-500 text-xs mt-1">
        <div *ngIf="registrationForm.get('iagree')?.errors?.['required']" class="text-xs whitespace-nowrap">
          You need to agree to our Terms & Services
        </div>
      </div>
  
      

      <div class="center-position mt-[20px] ">
         
        <button type="submit" [class.disabled-button]="!checkEnabled" class="btn-primary btn  continue-button"  [disabled]="!checkEnabled" style="height: 28px;" >
     
Continue
       
        </button>

      
      </div>
      <label class="center-position   blw-btn-text">
        Already have an account?
        <a href="/sign-in" style="color: blue;" class="underline">&nbsp;Sign In</a> 
     
      </label>
      


    </div>
  </form>
</div>