<!-- Page Container -->
<div id="page-container" class="div-container">
    <!-- Page Content -->
    <main id="page-content" class="flex flex-auto flex-col max-w-full">
      <div class="div-container-main">
  
  
        <!-- Sign In Section -->
        <div class="div-container-signin">
          <!-- Header -->
          <div class="mb-8 text-center">
            <h6 class="div-container-h6">
              <!-- company's svg -->
                <span>Validate Your OTP</span>
            </h6>
  
            
          </div>
          <!-- END Header -->
  
          <!-- Sign In Form -->
          <div class="div-card">
            <div class="p-5 lg:p-6 grow w-full">
              <div class="sm:p-5 lg:px-10 lg:py-8">
                <!-- Just for testing purposes change ng submit-->
                <form [formGroup]= "otpForm" (ngSubmit)="onValidate()">
                    
                  
                    <div class="space-y-1">
                      <label for="email" class="font-medium">Email<span class="text-red-500">*</span></label>
                      <input formControlName="email" class="signin-form-input" type="email" id="email" name="email" placeholder="Enter your email">
                      <div
                    *ngIf="showValidationErrors && otpForm.get('email')?.invalid"
                    class="text-red-500 text-sm mt-1"
                  >
                  <div *ngIf="otpForm.get('email')?.errors?.['required']">Email is required</div>
                      <div *ngIf="otpForm.get('email')?.errors?.['email']">Invalid email format</div>
                    </div>
                  
                    </div>
                    <div class="space-y-1 mt-5">
                      <label for="password" class="font-medium">OTP<span class="text-red-500">*</span></label>
                      <input formControlName="otp" class="signin-form-input" type="password" id="password" name="password" placeholder="Enter OTP">
                     
                    </div>
                    <div>
                    <button type="submit"  class="signin-btn mt-4">
                      Validate
                    </button>
                    <div class="div-btn-val">
                    
                     
                    </div>
                  </div>
                 
                </form>          
              </div>
            </div>        
           
          </div>
          <!-- END Sign In Form -->
  
          <!-- Footer -->
          <!-- END Footer -->
        </div>
        <!-- END Sign In Section -->
      </div>
    </main>
    <!-- END Page Content -->
  </div>
  <!-- END Page Container -->
