<div class="otp-section">
  <div>
    <h1 class="otp-h1">
      <!-- company's svg -->
      <span>Verify your email</span>
    </h1>
    <p class="p">
      <span class="text-blue-500 mr-2">
        <i class="fas fa-info-circle"></i>
      </span>
      <span class="otp font-light">Verification code sent on your email</span>
    </p>
  </div>
  <!-- Otp verify form here -->

  <form [formGroup]="otpForm" (ngSubmit)="onValidate()">
    <div class="otp text-[0.7rem] text-dark">
      <label>One Time Password</label>
    </div>
    <div class="grow w-full  bg-white">
      <div class="col-span-2">

        <input formControlName="email" class="otp-page-data border-2" type="email" id="email" />
        <div *ngIf="showValidationErrors && otpForm.get('email')?.invalid" class="text-red-500 text-sm mt-1">
          <div *ngIf="otpForm.get('email')?.errors?.['required']">Email is required</div>
          <div *ngIf="otpForm.get('email')?.errors?.['email']">Invalid email format</div>
        </div>
      </div>
      <div class="otp text-[0.7rem] ml-44 font-normal">
        <label>Did not receive the email?<a class="otp-a">Resend OTP</a></label>
      </div>
    </div>
    <div class="center-position mt-10 ">
      <button type="submit" class="btn-primary btn">
        <div>
          Verify
        </div>
      </button>
    </div>
  </form>
  <div class="otp-noact text-gray-500 text-[0.7rem]">
    Already have an account?
    <a class="otp-noact-a" [routerLink]="['/sign-in']" routerLinkActive="router-link-active"
      href="javascript:void(0)"><span class="underline">Sign in</span></a>
  </div>
</div>