
<div class="div">
  <!-- Email part -->
  
  <div
    *ngIf="showEmailInput"
    class="div-box"
  >
    <h1 class="div-box-h1">Don't worry</h1>
    <p class="div-box-p">
      We are here to help you to recover your password. Enter the email address
      you used when you joined and we'll send you instructions to reset your
      password.
    </p>
    <form (ngSubmit)="onEmailSend()" class="space-y-6 w-ful">
      <input
        [(ngModel)]="email"
        class="div-form"
        type="email"
        name="email"
        placeholder="Email address"
        required="required"
      />
      <div>
        <!-- Ng event -->
        <!-- (click)="showEmailInput = false" -->
        <button type="submit" class="reset-btn">Send</button>
      </div>
    </form>
    <div class="div-back">
      <a
        class="div-back-a"
        (click)="getBack()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 mr-2"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
            clip-rule="evenodd"
          />
        </svg>
        Back
      </a>
      <p class="div-back-p">Need help?</p>
    </div>
  </div>

  <!-- CONFIRM password part -->
  <form
    novalidate
    (ngSubmit)="OnSubmit()"
    *ngIf="!showEmailInput"
    class="confirm-form"
  >
    <h1 class="confirm-form-h1">Password reset</h1>
    <p class="div-box-p">
      Make sure you create a password which is strong and is not used very
      frequently. Doing so might compromise your identity in this portal
    </p>
    <input
      [(ngModel)]="password1"
      class="confirm-form-input"
      type="password"
      name="password"
      placeholder="Enter Password"
      required=""
      pattern=".{3,}"
    />
    <span
      class="confirm-form-span"
    >
      Please enter a valid password
    </span>
    <input
      [(ngModel)]="password2"
      (change)="compare()"
      class="confirm-form-input"
      type="password"
      name="confirm_password"
      placeholder="Confirm Password"
      required=""
    />
    <!-- <div class="text-red-500">Passwords do NOT match</div> -->
    <div>
      <button
        type="submit"
        class="reset-btn"
        [disabled]="!compare()"
        [style.opacity]="compare() ? 1 : 0.5"
      >
        Send
      </button>
    </div>
  </form>
  
</div>
<div *ngIf = "success" class="div-success">
  <strong>Successfully changed the password redirecting you to login page...</strong>
</div>
<div *ngIf = "isFailure" class="div-failure ">
  <strong>
    An error occured while saving the password
  </strong>
</div>


