@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .focus-reset-btn {
    @apply outline-none ring-2 ring-offset-1 bg-blue-700;
  }
}
.reset-btn:focus {
  @apply focus-reset-btn;
}
.reset-btn {
  @apply w-full border-blue-700 bg-blue-700 text-white hover:text-white hover:bg-blue-800 hover:border-blue-700 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700 px-4 py-2 font-medium text-center text-white bg-CCblue transition-colors duration-200 rounded-md;
}
.div{
  @apply flex justify-center items-center mt-[5%]
}
.div-box{
  @apply w-full px-8 max-w-lg space-y-6 bg-white rounded-md py-16
}
.div-box-h1{
  @apply mb-6 text-3xl font-bold text-center 
}
.div-box-p{
  @apply text-center mx-12
}
.div-form{
  @apply w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:ring
}
.div-back{
  @apply text-sm text-gray-600 items-center flex justify-between
}
.div-back-a{
  @apply text-gray-800 cursor-pointer hover:text-blue-500 inline-flex items-center ml-4
}
.div-back-p{
  @apply hover:text-blue-500 cursor-pointer
}
.confirm-form{
  @apply w-full px-8 max-w-lg space-y-6 bg-white rounded-md py-16
}
.confirm-form-h1{
  @apply mb-6 text-3xl font-bold text-center
}
.confirm-form-input{
  @apply w-full px-4 py-2 border-2 rounded-md focus:outline-none focus:ring focus:ring invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500
}
.confirm-form-span{
  @apply mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block
}
.div-success{
  @apply text-green-600 flex items-center justify-center 
}
.div-failure{
  @apply text-red-600 flex items-center justify-center
}