<div class="min-h-screen flex flex-row font-poppins bg-angel-blue ">
    <div class="absolute top-20 left-12 text-CCblue font-semibold text-2xl flex flex-row  whitespace-nowrap">
        <img src="../../assets/icons/cc_logo.svg" class="px-2">Container Conundrum
    </div>
    <div class="min-h-screen bg-white flex  justify-center  w-[30rem] flex-col px-12">
        <div id="title" class="text-2xl font-semibold whitespace-nowrap float-left py-4">
            Create an account or Sign-in
        </div>
        <button routerLink="register" id="register-btn" class="div-register-btn whitespace-nowrap">
            Create an account
        </button>
        <button routerLink="sign-in" id="sign-in-btn" class="div-signin-btn whitespace-nowrap">
            Sign in
        </button>

    </div>
    <div class="h-screen">
        <img src="../../assets/images/Container_Ship.png" class=" absolute h-full object-contain right-0">
    </div>
</div>