@tailwind base;
@tailwind components;
@tailwind utilities;
.div{
    @apply grid grid-cols-2 content-center flex-col h-screen font-poppins 
}
.div-form{
    @apply content-center py-[50%] place-items-center
}
.div-register-btn{
    @apply bg-CCblue hover:bg-blue-700 text-white shadow-md font-bold py-1 px-12 mx-10 w-[60%] rounded
}
.div-signin-btn{
 @apply bg-white hover:bg-gray-200 shadow-lg  font-bold py-1 px-12 mx-10  w-[60%] rounded
}
.div1{
    flex: 0 0 33%;
    
}
.div2{
  
    
}
