<div class = "div">
    <div class="div-form">
        <label for="register-btn" class=" mx-12 text-2xl space-y-6 "><b>Create an account or sign-in</b></label>
        <br/>
            <button routerLink="register" id="register-btn" class="div-register-btn">
                <div>Create Free Account</div>
            </button>
            <br/>
            <br/>
            <button routerLink="sign-in" id="sign-in-btn" class="div-signin-btn">
                Sign-in
            </button>
            


    </div>
    <div class="w-full">
        <img src = "assets/images/home.webp" style="height: 90%; width: 1400px; background-color: #F0F5FF;"/>
    </div>

    </div>