<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="showModal">
  <div class="flex items-center justify-center min-h-screen px-4">
    <div class="fixed inset-0 transition-opacity bg-gray-500 opacity-75"></div>

    <div class="relative z-50 w-full max-w-md mx-auto mt-8">
      <div class="bg-white rounded-lg shadow-lg p-6">
        <p>Are you sure you want to add this inventory details ?</p>
        <div class="mt-4 flex justify-end">
          <button class="px-4 py-2 bg-gray-300 text-gray-700 rounded-lg mr-4" (click)="showModal = false">No</button>
          <button class="px-4 py-2 bg-blue-500 text-white rounded-lg" (click)="OnSetY()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col items-center md:flex-row">
  <div class="mr-4 ml-4 mt-10 w-full md:w-1/2 mb-4">
    <!-- Form code goes here -->
    
  <form [formGroup]= "UploadInventoryForm" (ngSubmit)="onSubmit()">
    
    <div class="col-span-1 lg:col-span-6">
      <h4 class="text-base text-gray-700 mb-5 text-center text-3xl">UPLOAD INVENTORY</h4>
      <div class="p-20 rounded-md shadow-md bg-white">

       <div class="mb-6">
        
        


        <label class="block mb-3 text-gray-600" for="">Name on Port</label>
        
        
          <select #port [(ngModel)]="port_name" formControlName="port_id" class="border border-gray-500 rounded-md inline-block py-2 px-3 leading-6 w-full focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 text-gray-600 tracking-wider">
            <option selected>Select your port </option>
            <option  *ngFor ="let port of port_list" [value]="port.port_id">{{port.port_name}}</option>
          </select>
        
       </div>

       <!-- <div class="mb-6">
        <label class="block mb-3 text-gray-600" for="">Container Type</label>
        <select formControlName="container_type" class="border border-gray-500 rounded-md inline-block py-2 px-3 w-full text-gray-600 tracking-wider">
          <option>refrigerated</option>
          <option>non_refrigerated</option>
        </select>
       </div> -->
       <div class="mb-6">
        <label class="block mb-3 text-gray-600" for="">Container Type</label>
        <select formControlName="container_type" class="border border-gray-500 rounded-md inline-block py-2 px-3 leading-6 w-full focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 text-gray-600 tracking-wider">
          <option *ngFor="let type of ['refrigerated', 'non_refrigerated']" [value]="type">{{ type.toUpperCase().replace('_', ' ')}}</option>
        </select>
      </div>
      

       <div class="mb-6">
        <label class="block mb-3 text-gray-600" for="">Container Size</label>
        <select formControlName="container_size" class="border border-gray-500 rounded-md inline-block py-2 px-3 leading-6 w-full focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 text-gray-600 tracking-wider">
          <option>1</option>
          <option>2</option>
          <option>4</option>
        </select>
       </div>

       <div class="mb-6">
        <label class="block mb-3 text-gray-600" for="">Available</label>
        <input type="text" formControlName="available" class="border border-gray-500 rounded-md inline-block py-2 px-3 leading-6 w-full focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 text-gray-600 tracking-wider"/>
       </div>
       
       
       <div class="mb-6">
        <label class="block mb-3 text-gray-600" for="">Maximum</label>
        <input type="text" formControlName="maximum" class="border border-gray-500 rounded-md inline-block py-2 px-3 leading-6 w-full focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 text-gray-600 tracking-wider"/>
       </div>

       <div class="mb-6">
        <label class="block mb-3 text-gray-600" for="">Minimum</label>
        <input type="text" formControlName="minimum" class="border border-gray-500 rounded-md inline-block py-2 px-3 leading-6 w-full focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 text-gray-600 tracking-wider"/>
       </div>
       <div class="mb-2">
      <label class="block mb-3 text-gray-600">Upload Excel Here 
      <input class="ml-10" type="file" (change)="ReadExcel($event)">
      </label>
      </div>

      <div class="mb-2">
       <div class="flex justify-between mt-5">
        
        <button type="button" routerLink="/dashboard" class="w-1/2 px-4 py-3 mr-10 ml-10 bg-blue-500 rounded-md shadow-md text-white font-semibold">
          Back
        </button>
        <button type="submit" class="w-1/2 mr-10 ml-10 px-4 py-3 bg-blue-500 rounded-md shadow-md text-white font-semibold">
          Save
        </button>
      </div>
      </div>
      

       </div>
      </div>
    
 
  
  </form>
 
  </div>


  <div class="w-full md:w-1/2 mt-4 ml-4 mr-4 border">
    <!-- Table code goes here -->
    <div class="flex flex-col overflow-x-auto">
      <div class="sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-x-auto">
            
            <nav class="table-navbar mb-2 w-full">
              <div class="max-w-sm ml-10 flex items-center">
                <label class="mr-2 w-full ">Search by:</label>
                <div class="relative flex items-center w-full h-7 focus-within:shadow-lg bg-gray-100 overflow-hidden">
                  <div class="grid place-items-center h-full w-10 text-black-300">
                    <!-- search bar icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="gray">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                  </div>
                  <input name="port_id" [(ngModel)]="searchTerm" 
                         class="peer h-full w-full outline-none text-sm bg-gray-100 text-black-300 pr-2"
                         type="text"
                         id="search"
                         placeholder="Port Id | Container Type"
                  />
                </div>
              </div>
            </nav>
            
            <table class="min-w-full text-left text-sm font-light">
              
              <thead class="border-b font-medium dark:border-neutral-500">
                <tr>
                  <th scope="col" class="border px-4 py-2 text-center">Port Id</th>
                  <th scope="col" class="border px-4 py-2 text-center">Container Type</th>
                  <th scope="col" class="border px-2 py-2 text-center">Container Size</th>
                  <th scope="col" class="border px-4 py-2 text-center">Available</th>
                  <th scope="col" class="border px-4 py-2 text-center">Maximum</th>
                  <th scope="col" class="border px-4 py-2 text-center">Minimum</th>
                  <th scope="col" class="border px-6 py-2 text-center"></th>
                  <th scope="col" class="border px-6 py-2 text-center"></th>
                  
                  
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inv of inventory_list_by_companyId | search: searchTerm" class="border-b dark:border-neutral-500">
                  <td scope="col" class="border px-4 py-2 text-center">{{inv.port_id}}</td>
                  <td scope="col" class="border px-4 py-2 text-center">{{inv.container_type}}</td>
                  <td scope="col" class="border px-2 py-2 text-center">{{inv.container_size}}</td>
                  <td scope="col" class="border px-4 py-2 text-center">{{inv.available}}</td>
                  <td scope="col" class="border px-4 py-2 text-center">{{inv.maximum}}</td>
                  <td scope="col" class="border px-4 py-2 text-center">{{inv.minimum}}</td>
                  <td scope="col" class="border px-4 py-2 text-center">
                    <button (click)="getInventoryById(inv.inventory_id)" class="edit-button">Edit</button>
                  </td>
                  <td scope="col" class="border px-4 py-2 text-center">
                    
                    <button (click)="deleteInventory(inv.inventory_id)" class="delete-button">Delete</button>
                  </td>
                  
                  
                </tr>
              </tbody>
            </table>
  </div>
</div>


  

  