@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .w-13 {
      width: 8%;
    }
  }
  @layer components {
    .aspect-w-2 {
      width: 2;
    }
  }
  @layer components {
    .aspect-h-1 {
      height: 1;
    }
  }

.div-size{
  @apply relative z-50 w-full max-w-md mx-auto mt-0
}
.div-details{
  @apply bg-white rounded-lg shadow-lg p-6
}
.div-btn{
  @apply px-4 py-2 bg-gray-300 text-gray-700 rounded-lg mr-4
}
.div-btn-set{
  @apply px-4 py-2 bg-blue-500 text-white rounded-lg
}
  .forecast {
    font-family: Poppins;
    font-size: 16px;
    line-height: 28px;
}
.btn{
    padding: 10px 18px;
    gap: 8px;
    
    width: 152.33px;
    height: 48px;
}
.btn-primary{
    color: #ffffff;
    background-color: #2F54EB;
    height: 38px;
}
.btn-primary6{
    color: #ffffff;
    background-color: #2F54EB;
    height: 20px;
    font-size: 10px;
}
.btn-primary7{
    background-color: #ffffff;
     color:#595959;
     height: 20px;
     border: 1px solid #BFBFBF;
     font-size: 10px;
 }
.top{
    font-family: 'Poppins';
font-size: 12px;
font-weight: 600;
color: #595959;
}
.select{
    font-family: 'Poppins';
    color: #595959;
    font-size: 12px;
}
.top-select{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 8px;
    gap: 8px;
    width: 84px;
    height: 36px;
    border: 1px solid #D9D9D9;
}
.top-selct2{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 8px;
gap: 8px;
width: 140px;
height: 36px;
border: 1px solid #D9D9D9;
}
.top-select2{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 8px;
    gap: 8px;
    width: 244px;
    height: 38px;
    border: 1px solid #D9D9D9;
    }
.select-box{
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: rgba(0, 0, 0, 0.88);
    font-size: 10px;
}
.div-bg{
    background: #FAFAFA;
  }
  .div-box-bg{
    background: #F0F0F0;
  }
  .div-bg-line{
    border-bottom: 1px solid  #E9E9E9;
    
  }
.top-selct1{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
width: 80px;
height: 36px;
border: 1px solid #D9D9D9;
}
.div-header-box{
    height: 139px;
width: 1751px;
left: 165px;
top: 60px;
border-radius: 0px;

}

.btn-primary2{
    color: #2F54EB;
    height: 38px;
}
.btn-primary9{
  color: #262626;
  height: 38px;
}
.btn-primary4{
    color: #2F54EB;
}
.btn-primary3{
   background-color: #F0F0F0;
    color:#595959;
    height: 38px;
}
.btn-primary5{
    color: #262626;
    height: 38px;
    border: 1px solid #2F54EB;
}
.div-search{
    @apply relative flex items-center w-96 h-9  bg-white ;
}
#clearButton {
  display: none;
}


.input-search{
    @apply  h-full w-full outline-none text-sm bg-white text-black pr-2;
}
.search{
    border: 1px solid #D9D9D9;
}
.div-search-icon{
    @apply grid place-items-center h-full w-12 text-black;
}
.page-link{
    @apply  text-xs w-7 h-7 rounded-md border-2 items-center border-white
}
.page-link-active{
    @apply  text-xs text-CCblue font-bold bg-white w-7 h-7 rounded-md border-2 items-center 
}
.div-edit-btn{
  @apply mr-3 text-sm bg-green-500 hover:bg-green-700 text-white py-1 px-2 rounded focus:outline-none 
}
.div-delete-btn{
  @apply text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-in-out;
}
.input-tag{
  @apply w-full px-4 py-2 border  focus:outline-none 
}
.register-page-data{
  @apply block border-2  border-gray-300  px-3  text-sm py-1 leading-6 w-full
}
.uploadinv-select option[disabled] {
  color: #6c6a6a;
}
.top-selct1{
  box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
width: 80px;
height: 36px;
border: 1px solid #D9D9D9;
}
.div-bg{
  background: #FAFAFA;
}
.top{
  font-family: 'Poppins';
font-size: 12px;

color: #595959;
}
.upload-input-data{
  @apply block px-1 py-1 leading-6 w-full 
}
.border{
  border: 1px solid #D9D9D9;
}
.h1{
  background-color: #F0F5FF;

}
.btn-primary1{
  color: #ffffff;
  box-sizing: border-box;

  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
  
  width:380px;
  height: 25px;
  
  /* Geek Blue / geekblue-6 */
  
  background: #2F54EB;
  border: 1px solid #3E7BFA;
  
}
.btn-primary3{
  background-color: #F0F0F0;
   color:#595959;
   box-sizing: border-box;

   /* Auto layout */
   
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 
   
   width: 380px;
   height: 25px;
   
}
.add-h1{
  color: #595959;
  font-size: 16px;
}
.placeholder::placeholder {
 
  font-size: 11px;
  
}