<app-header></app-header>
<!-- <app-sidebar class="div-app-sidebar"></app-sidebar> -->
<div class="div mt-10" *ngIf="showModal">
  <div class="div-card mt-40">
    <div class="div-bg">
    </div>
    <div class="div-size">
      <div class="div-details">
        <p>Are you sure you want to add this inventory details ?</p>
        <div class="mt-4 flex justify-end">
          <button class="div-btn" (click)="showModal = false">No</button>
          <button class="div-btn-set" (click)="OnSetY()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Viewpane -->

  <!-- Sidebar -->
  <app-sidebar class="sticky w-[8vw] border-r-2 z-30"></app-sidebar>
  <!-- Main View -->
  <div class="w-full flex flex-col first:flex-row">
    
    <!-- Card Groups -->
    <div class="div-grp">
      <section class="div-section">     
        <h1 class="div-section-h1">Upload Inventory</h1>
        <form [formGroup]= "UploadInventoryForm" (ngSubmit)="onSubmit()">
            <div class="div-form">
                 <div>
                    <label class="div-form-label" for="username">Name on Port</label>
                    <select #port [(ngModel)]="port_name" formControlName="port_id" class="uploadinv-select">
                      <option selected>Select your port </option>
                      <option  *ngFor ="let port of port_list" [value]="port.port_id">{{port.port_name}}</option>
                    </select>
                  </div>
      
                <div>
                    <label class="div-form-label" for="emailAddress">Container Type</label>
                    <select formControlName="container_type" class="uploadinv-select">
                      <option *ngFor="let type of ['refrigerated', 'non_refrigerated']" [value]="type">{{ type.toUpperCase().replace('_', ' ')}}</option>
                    </select>
                </div>
      
                <div>
                  <label class="div-form-label" for="emailAddress">Container Size</label>
                  <select formControlName="container_size" class="uploadinv-select">
                    <option>1</option>
                    <option>2</option>
                    <option>4</option>
                  </select>
                </div>
      
                <div>
                    <label class="div-form-label" for="passwordConfirmation">Available</label>
                    <input type="text" formControlName="available" class="uploadinv-select"/>
                </div>
                <div>
                  <label class="div-form-label" for="passwordConfirmation">Maximum</label>
                  <input type="text" formControlName="maximum" class="uploadinv-select"/>
              </div>
              <div>
                <label class="div-form-label" for="passwordConfirmation">Minimum</label>
                <input type="text" formControlName="minimum"class="uploadinv-select"/>
            </div>
      
                
                  <div class="div-form-div">
                    <div class="space-y-1 text-center">
                      <svg class="mx-auto h-12 w-12 text-white" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                        <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <div class="flex text-sm text-gray-600">
                        <label class="div-upload">
                          <span class="">Upload Excel Here </span>
                          <input class="sr-only" type="file" (change)="ReadExcel($event)">
                        </label>
                       
                      </div>
                      <p class="pl-1 text-white">or drag and drop</p>
                      <p class="text-xs text-white">
                        Excel File
                      </p>
              
                    </div>
                    
                  </div>
                
                </div>
                <div class="flex justify-end">
                  <button type="submit" class="uploadinv-btn"> Save</button>
              </div>
              <div class="flex justify-end mt-2">
                <button type="button" routerLink="/dashboard" class="uploadinv-btn">Back</button>
            </div>
        </form>
      </section>
      <div class="div-table">
        <!-- Table code goes here -->
        <div class="flex flex-col overflow-x-auto mr-15 ml-2">
          <div class="sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
              <div class="overflow-x-auto">
                <nav class="table-navbar mb-2 w-full">
                  <div class="max-w-sm ml-1 flex items-center">	
                    <label class="mr-1 ml-2 w-full">Search by:</label>
                    <div class="div-search">
                      <div class="div-search-icon">
                  <!-- search bar icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="gray">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg>
                </div>
                <input name="port_id" [(ngModel)]="searchTerm" 
                       class="uploadinv-input"
                       type="text"
                       id="search"
                       placeholder="Port Id | Container Type"
                />
              </div>
                </div>
    
              </nav>
            </div>
          <table class="div-table-inv">
              <thead class="div-thead">
                  <tr>
                      <th scope="col" class="px-6 py-3">
                          Port Id
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Container Type
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Container Size
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Available
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Maximum
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Minimum
                  </th>
                    <th scope="col" class="px-6 py-3">
                        &nbsp;&nbsp;  Action
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let inv of inventory_list_by_companyId | search: searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }" class="div-tbody-tr">
                      <th scope="row" class="div-tbody-th">
                        {{inv.port_id}}
                      </th>
                      <td class="px-6 py-4">
                        {{inv.container_type}}
                      </td>
                      <td class="px-6 py-4">
                        {{inv.container_size}}
                      </td>
                      <td class="px-6 py-4">
                        {{inv.available}}
                      </td>
                      <td class="px-6 py-4">
                        {{inv.maximum}}
                      </td>
                      <td class="px-6 py-4">
                        {{inv.minimum}}
                      </td>
                      
                        <div class="d-flex flex-row">
                          <td class="p-3 px-5 flex justify-end">
                            <button type="button" (click)="getInventoryById(inv.inventory_id)" class="div-edit-btn">Edit</button>
                            <button type="button" (click)="deleteInventory(inv.inventory_id)" class="div-delete-btn">Delete</button></td>
                        
                        </div>
                  </tr>
                  
              </tbody>
         
          </table>
          <div class="flex items-center justify-between bg-white" >
            <button [class.opacity-50]="currentPage === 1" (click)="currentPage = currentPage - 1" class="flex font-medium items-center ml-22 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-white-800">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                </svg>
      
                <span>
                    previous
                </span>
            </button>
      
            <button [class.opacity-50]="currentPage === totalPages" (click)="currentPage = currentPage + 1" class="flex font-medium items-center ml-22 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-white-800">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                    
                </svg>
      
                <span>
                    Next
                    
                </span>
            </button>
        </div>
        </div>
            
            
          </div></div>
      </div>