@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .max-w-2x1 {
    
  }
}
  @layer utilities {
    .ml-50 {
      margin-left: 50px;
    }
  }
  .shadow-outline {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }
  
  @layer utilities {
    .focus\:shadow-outline {
      @apply shadow-outline;
    }
  }
  

.div{
    @apply fixed z-10 inset-0 overflow-y-auto;
}
.div-card{
    @apply fixed z-10 inset-0 overflow-y-auto
}
.div-bg{
  @apply fixed inset-0 transition-opacity bg-gray-500 opacity-75
}
.div-size{
  @apply relative z-50 w-full max-w-md mx-auto mt-8
}
.div-details{
  @apply bg-white rounded-lg shadow-lg p-6
}
.div-btn{
  @apply px-4 py-2 bg-gray-300 text-gray-700 rounded-lg mr-4
}
.div-btn-set{
  @apply px-4 py-2 bg-blue-500 text-white rounded-lg
}
.div-form{
  @apply flex flex-col items-center md:flex-row
}
.div-form-size{
  @apply mr-4 ml-4 mt-10 w-full md:w-1/2 mb-4
}
.uploadinv-grp{
  @apply col-span-1 lg:col-span-6
}
.uploadinv-h1{
  @apply text-base text-gray-700 mb-5 text-center text-3xl
}
.uploadinv-label{
  @apply block mb-3 text-gray-600
}
.uploadinv-select{
  @apply border border-gray-500 rounded-md inline-block py-2 px-3 leading-6 w-full focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 text-gray-600 tracking-wider
}
.uploadinv-btn{
  @apply w-20 px-2 py-3 mr-0 ml-20 bg-blue-500 rounded-md shadow-md text-blue-600 font-semibold border font-semibold focus:outline-none w-fit px-10 py-3 leading-6 rounded border-blue-700 bg-white text-blue-600 hover:text-white hover:bg-blue-800 hover:border-blue-800 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700
}
.upload-btn{
  @apply flex justify-center w-20 px-2 py-3 mr-10 ml-10 bg-blue-500 rounded-md shadow-md text-blue-600 font-semibold border font-semibold focus:outline-none w-fit px-5 py-3 leading-6 rounded border-blue-700 bg-white text-blue-600 hover:text-white hover:bg-blue-800 hover:border-blue-800 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700
}
.uploadinv-input{
  @apply h-full w-full outline-none text-sm bg-gray-100 text-black pr-2
}
.uploadinv-table{
  @apply min-w-full text-left text-sm font-light
}
.uploadinv-thead{
  @apply border-b font-medium dark:border-neutral-500
}
.uploadinv-th{
  @apply border px-4 py-2 text-center
}
.uploadinv-div{
  @apply w-full md:w-1/2 mt-4 ml-4 mr-4 border
}
.uploadinv-card{
  @apply flex flex-col overflow-x-auto
}
.uploadinv-card-div{
  @apply inline-block min-w-full py-2 sm:px-6 lg:px-8
}
.uploadinv-search{
  @apply relative flex items-center w-full h-7 focus-within:shadow-lg bg-gray-100 overflow-hidden
}
.uploadinv-icon{
  @apply grid place-items-center h-full w-10 text-black
}
.uploadinv-size{
  @apply max-w-sm ml-10 flex items-center
}
.uploadinv-nav{
  @apply mb-2 w-full
}
.uploadinv-bt{
  @apply border font-semibold focus:outline-none w-full px-4 py-3 leading-6 rounded border-blue-700 bg-blue-700 text-white hover:text-white hover:bg-blue-800 hover:border-blue-800 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700
}
.div-app-sidebar{
  @apply sticky w-[8vw] border-r-2 z-50;
}
.div-grp{
  @apply flex flex-col sm:flex-row top-0 mb-0 ml-5
}
.div-section{
  @apply antialiased min-h-screen p-9 max-w-2x1 mx-auto bg-cyan-700 bg-blend-saturation rounded-md shadow-2xl dark:bg-gray-800 ml-24 mt-10 mb-96 bottom-0
}
.div-section-h1{
  @apply text-xl font-bold text-white capitalize dark:text-white
}
.div-form{
  @apply grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2
}
.div-form-label{
  @apply text-white dark:text-gray-200
}
.div-form-div{
  @apply mt-1 flex justify-center ml-50 mr-5 px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md
}
.div-upload{
  @apply relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500
}
.div-table{
  @apply w-full md:w-10 mt-2 ml-2 mr-1 border flex-1 text-sm bg-white p-6 rounded-sm m-3 h-[900px] overflow-y-auto
}
.div-search{
  @apply relative flex items-center w-full h-7 focus-within:shadow-lg bg-gray-100 overflow-hidden
}
.div-search-icon{
  @apply grid place-items-center h-full w-10 text-black
}
.div-table-inv{
  @apply w-full text-sm text-left bg-white text-blue-100 dark:text-blue-100
}
.div-thead{
  @apply text-xs text-white uppercase bg-gray-600 border-b border-blue-400 dark:text-white
}
.div-tbody-th{
  @apply px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100
}
.div-tbody-tr{
  @apply bg-gray-500 border-b border-blue-400 hover:bg-gray-400
}
.div-edit-btn{
  @apply mr-3 text-sm bg-blue-500 hover:bg-green-700 text-white py-1 px-2 rounded focus:outline-none 
}
.div-delete-btn{
  @apply text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none
}


.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table thead th {
    font-weight: 500;
    border-bottom: 1px solid #e2e8f0;
  }
  
  .table th,
  .table td {
    padding: 0.5rem 0.75rem;
    border: 1px solid #e2e8f0;
  }
  
  .table th {
    text-align: center;
  }
  
  /* Styles for the buttons */
  .edit-button{
    margin-left: 2rem;
    padding: 0.5rem;
    border: none;
    background-color: #0af3509d;
    color: #000000;
    cursor: pointer;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }
  .delete-button{
    margin-left: 2rem;
    padding: 0.25rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    border: none;
    background-color: #ff0000c3;
    color: #000000;
    cursor: pointer;
    margin-right: 0.25rem;
  }
  .edit-button:hover,
  .delete-button:hover {
    background-color: #b5f5e1;
  }
  