@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .w-13 {
      width: 8%;
    }
  }
  @layer components {
    .aspect-w-2 {
      width: 2;
    }
  }
  @layer components {
    .aspect-h-1 {
      height: 1;
    }
  }

@layer utility{
    .menu-tile{
        @apply text-left py-2 px-1 cursor-pointer  ;
    }
}
@layer base {
    .Poppins {
      font-family: Poppins;
    }
  }
  /* .div-img{
    @apply w-13 aspect-w-2 aspect-h-1 object-cover mix-blend-color-burn rounded-full ;
  }
   */

   .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  
.div{
  @apply flex flex-row font-poppins;
}
.div-app-sidebar{
    @apply sticky w-[8vw] border-r-2;
  }
.div-company-details{
    @apply w-full flex flex-col sm:w-fit first:flex-row;
}
.div-editcompany{
    @apply absolute right-0 w-4 h-4 rounded-full top-8;
}
.div-company{
    @apply px-3 w-fit text-xl mb-[0.625rem] font-bold font-poppins flex md:text-sm;
}
.div-company-name{
    @apply text-xs font-thin pt-2 px-2;
}
.div-tag{
    @apply bg-gray-100 w-fit h-[1rem]  flex flex-shrink-0 mt-[0.2rem]  justify-end rounded-md sm:text-[10px];
}
.div-detail{
    @apply px-1 flex-1 text-sm md:overflow-hidden leading-3;
}
.div-sub-box{
    @apply mx-[1rem] flex-shrink-0
}
.div-box{
    @apply mx-3 w-[10em] h-[3.5em] bg-gray-100 flex;
}
.div-box-numbers{
    @apply flex-1 text-3xl font-bold flex items-center justify-center;
}
.div-box-data{
    @apply flex-1 text-sm flex items-center justify-center;
}
.div-box-number{
    @apply flex-1 text-2xl flex-col font-bold flex items-center justify-center;
}
.div-employee{
    @apply m-2 h-fit w-full flex-col;
}


.div-employee-box{
    @apply flex-1 text-xs p-2 text-gray-500 flex align-middle justify-center w-fit;
}
.div-employee-name{
    @apply text-xs px-2 first-letter:uppercase;
}
.div-action-button{
    @apply bg-gray-300 h-[3rem] w-fit px-[1rem]  mx-4 my-3 md:text-sm flex-shrink-0;
}
.div-search{
    @apply relative flex items-center w-40 h-9 focus-within:shadow-lg bg-gray-100 overflow-hidden;
}
.div-search-icon{
    @apply grid place-items-center h-full w-12 text-black;
}
.input-search{
    @apply h-full w-full outline-none text-sm bg-gray-100 text-black pr-2;
}
.employee-list{
    @apply inline-block min-w-full py-2 sm:px-6 lg:px-8;
}
.employee-table{
    @apply min-w-full text-left text-sm font-light;
}
.emplist-thead{
    @apply border-b font-medium dark:border-neutral-50;
}
.employee-add{
    @apply border-b dark:border-neutral-500;
}
.employee-add-btn{
    @apply whitespace-nowrap px-2 py-4 font-medium;
}
.emplist{
    @apply whitespace-nowrap px-6 py-4;
}

.label-contain {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }

   .btn-editcompany{
    @apply inline-block rounded px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0;
}
.submit-btn{
    @apply bg-CCblue hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}
   
.div{

    @apply flex flex-row
    
   }
    
    
    
    
   .div-app-sidebar{
    
    @apply sticky w-[110px]
    
   }
    
   .underline-button{
    @apply menu-tile border-blue-500 hover:border-b-4 Poppins;
}
   .underline-a{
    @apply menu-tile  hover:text-CCblue  Poppins;
}

.underline-b{
  @apply menu-tile hover:border-black border-black  hover:border-b-2 Poppins;
}
    
   .div-card{
    
    @apply w-full flex flex-col first:flex-row
    
   }
    
   .div-card-div{
    
    @apply text-2xl font-bold font-poppins mt-8 mb-4 p-3
    
   }
    
    
    
    
   .buttons-container {
    
    @apply absolute right-0 mr-8 flex items-center;
    
    }
    
   
    
    .my-button {
    
    @apply px-2 py-1 text-white bg-CCblue rounded-md ml-2;
    
    }

    .div{
        @apply flex flex-row font-poppins;
      }
      .div-app-sidebar{
          @apply sticky w-[8vw] border-r-2;
        }
    
        .div-card{
            @apply w-full flex flex-col first:flex-row
           }
           .div-card-div{
            @apply text-2xl font-bold font-poppins mt-8 mb-4 p-3
           }
    
           .buttons-container {
            @apply absolute right-0 mr-3 flex items-center;
          }
          
          .my-button {
            @apply px-2 py-1 text-white bg-blue-500 rounded-md ml-2;
          }
          .div-company{
            @apply px-3 w-fit text-xl mb-[0.625rem] font-bold font-poppins flex md:text-sm;
        }
        .div-tag{
          @apply bg-gray-100 w-fit h-[1rem]  flex flex-shrink-0 mt-[0.2rem]  justify-end rounded-md sm:text-[10px];
      }
        .div-company-name{
            @apply text-xs font-thin pt-2 px-2;
        }
        .div-sub-box{
          @apply mx-[1rem] flex-shrink-0
      }
      .div-detail{
        @apply px-1 flex-1 text-sm md:overflow-hidden leading-3;
    }
    .div-company-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .div-company-details .div-company {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }
    
    .div-company-details .div-company img {
      margin-right: 1rem;
    }
    
    .div-company-details .mx-[1rem] {
      display: flex;
      align-items: center;
    }
    .my-button {
      @apply px-2 py-1 text-white bg-blue-500 rounded-md ml-2;
    }
   
    