<div class="div mt-16">
  <div class="div-card bg-div max-h-screen">
    <div class="div-card-div h1-div">
      Welcome, {{fname}} {{lname}}
  </div>
</div>
</div>

<div class="main">
  <div class="flex-container ml-4">
  <div class="div-card-card1 head">
    Containers
  </div>
  <div class="div-card-card1 head">
    Space
  </div>
  <div class="div-card-card1 head ">
     My Advertisements
  </div>
</div>
<div class="flex-container ml-4 -mt-6">
  <div class="div-card-card">

    <!-- <div class="p-3"> -->
      <!-- Line Chart -->
      <div *ngIf="PieChartData && originalcontainerAds.length>0" class="chart-container-pie">
        <canvas baseChart style=" height: 280px; overflow: hidden; "
                [datasets]="PieChartData.datasets"
                [labels]="PieChartData.labels"
                [options]="PieChartOptions"
                [type]="'pie'"
                >
        </canvas>
      <!-- </div> -->
    </div>
  </div>

  <div class="div-card-card">
    <div class="p-3">
      <!-- Line Chart -->
      <div *ngIf="lineChartData && originalspaceAds.length>0" class="chart-container-line mt-14">
        <canvas baseChart
                [datasets]="lineChartData.datasets"
                [labels]="lineChartData.labels"
                [options]="lineChartOptions"
                [type]="'bar'"
                style="height: 200px; width: 350px;">
        </canvas>
      </div>
    </div>
  </div>
  <div class="div-card-card"  >

    <div class="p-3">
      <!-- myads -->
      <div *ngIf="adsCount.length > 0" class="chart-container mt-1 ">
        <canvas baseChart
                [data]="chartData" 
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="chartLegend"
                [type]="'doughnut'">
        </canvas>
      </div>
      
     
    </div>

  </div>
</div>
<div class="flex-container -mt-6">
  <!--Ads-->
  <div class="div-card-card1 foot ">
    <a routerLink="/my-ad" class="">See more ></a>
  </div>
</div>
<div class="flex-container ml-4 ">
  <div class="div-card-card1 head">
    Surplus/Deficit
  </div>
  <div class="div-card-card1 head ml-[102px] ">
    Open Negotiations
  </div>
  
</div>
<div class="flex-container ml-4 -mt-6">
  <div class="div-card-card">

    <div class="p-3">
      <!-- Dummy bookings -->
      <div style="margin-left: 50px;" >
        <canvas class="horizontal-bar" id="horizontalBarChart" style="height:200px;"></canvas>
      </div>
      
     
    </div>

  </div>
  <div class="div-card-card">

    <div class="p-3">
      <!-- myads -->
      <div *ngIf="negotiationCount.length > 0" class="chart-container-neg  ml-[20px]">
        <canvas baseChart
                [data]="negotiationchartData" 
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="chartLegend"
                [type]="'doughnut'">
        </canvas>
      </div>
      
     
    </div>

  </div>
  
</div>
<div class="flex-container ml-4 -mt-6">

  <div class="div-card-card1 foot">
    <a routerLink="/negotiations" class="">See more ></a>
  </div>
</div>
</div>