@tailwind base;
@tailwind components;
@tailwind utilities;
.header{
  @apply text-gray-600 font-poppins sticky bg-white  top-0 z-50 shadow-md;
}
.header-div{
    @apply container mx-[10px] flex flex-wrap py-2 flex-col md:flex-row items-center;
}
.header-a{
    @apply flex font-medium items-center text-gray-600 mb-4 md:mb-0;
}

 .header-card-svg{
  @apply w-10 h-10 text-white p-2 bg-indigo-500 rounded-full
 }
 .header-div-div{
  @apply max-w-sm mx-[20%]
 }
 .header-card{
  @apply relative flex items-center w-full h-7 focus-within:shadow-lg bg-gray-100 overflow-hidden
 }
 .header-card-div{
  @apply grid place-items-center h-full w-12 text-black
 }
 .header-card-input{
  @apply h-full w-full outline-none text-sm bg-gray-100 text-black pr-2
 }
 .div{
  @apply flex flex-row
 }
 .div-app-sidebar{
  @apply sticky w-[110px]
 }
 .div-card{
  @apply w-full flex flex-col first:flex-row
 }
 .div-card-div{
  @apply text-2xl font-bold font-poppins mt-8 mb-4 p-3
 }
 .div-card-card{
  @apply flex-1 shadow-lg text-sm p-2 rounded-sm m-3 h-[250px] overflow-y-auto
 }
 .div-card-a{
  @apply text-CCblue bottom-0 block left-0
 }
 .div-div-card{
  @apply flex-1 shadow-lg text-sm p-2 rounded-sm m-3 h-[250px] overflow-y-auto
 }
 .btn-c-button{
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full
}

 
 

 




::-webkit-scrollbar {
  width: 5px;
}
.btn-c {
  height: 90px;
  position: relative;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.v-center {
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}