
<div class="div bg-gray-50 min-h-screen mt-[50px] mt-16" >


  <!-- Main View Canvas -->
  <div class="div-company-details w-full mt-30 max-w-screen-2xl min-w-[780px]">
    <!-- Company Details section  -->
    <div class=" my-2 mx-1 h-fit bg-white p-2">
      <div class="flex">
        <!-- first box which contains the company details -->
        <form [formGroup]="profileForm" class="w-full">

          <div class="flex justify-between items-center w-full">
            <div class=" flex flex-row items-center w-full">
              <div class="relative px-1 py-2" id="company-logo">
                <img class="bg-img object-contain overflow-hidden w-16 h-14 rounded-full border-1 border-transparent outline-2" src="{{ company_logo }}" />
                <button (click)="showDiv = !showDiv" matTooltip="Edit Company Profile" class="absolute bottom-1 right-0 cursor-pointer">
                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="16" height="16" transform="translate(0.5)" fill="white" style="mix-blend-mode:multiply"/>
                    <path d="M15.5 13H1.5V14H15.5V13Z" fill="#597EF7"/>
                    <path d="M13.2 4.5C13.6 4.1 13.6 3.5 13.2 3.1L11.4 1.3C11 0.9 10.4 0.9 10 1.3L2.5 8.8V12H5.7L13.2 4.5ZM10.7 2L12.5 3.8L11 5.3L9.2 3.5L10.7 2ZM3.5 11V9.2L8.5 4.2L10.3 6L5.3 11H3.5Z" fill="#597EF7"/>
                    </svg>
                </button>
                <!-- A hidden div for edit profile -->
                <div class="my-3 relative" [class.hidden]="!showDiv">
                  <div class="absolute top-0 left-0 shadow-md z-20">
                    <app-edit-profile></app-edit-profile>
                  </div>
                </div>
              </div>
              <!-- Sub box 1 -->
              <div class="flex flex-col w-full" id="sub-box2">
                <div class="font-medium whitespace-nowrap ml-2 mt-2" style="font-size: 1.25rem;">
                  {{name}}
                </div>  
                <div class="flex flex-row justify-around rounded-none w-full mt-2 -ml-5">
                  
                  <div class="gray-highlights justify-between rounded-none">
                    <svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.50001 0C4.04186 0.00177305 2.64394 0.581805 1.61288 1.61287C0.581811 2.64394 0.00177874 4.04185 5.68684e-06 5.5C-0.00171609 6.69163 0.387576 7.85092 1.10816 8.8C1.10816 8.8 1.25816 8.99725 1.28226 9.02585L5.50001 14L9.71951 9.0237C9.7417 8.99705 9.89186 8.7998 9.89186 8.7998L9.89261 8.7986C10.6128 7.84987 11.0018 6.69109 11 5.5C10.9982 4.04185 10.4182 2.64394 9.38713 1.61287C8.35607 0.581805 6.95815 0.00177305 5.50001 0ZM6.00001 8H5.00001V7H6.00001V8ZM6.00001 6H5.00001V5H6.00001V6ZM8.00001 8H7.00001V4H4.00001V8H3.00001V4C3.00031 3.73488 3.10576 3.4807 3.29324 3.29323C3.48071 3.10576 3.73488 3.0003 4.00001 3H7.00001C7.26513 3.0003 7.51931 3.10576 7.70678 3.29323C7.89425 3.4807 7.9997 3.73488 8.00001 4V8Z" fill="#262626">
                        ....
                      </path>
                      </svg>
                      <span class="ml-1 truncate txt" title="{{address}},{{company_location}}, {{country}}">{{address}},{{company_location}}, {{country}}</span>
                  </div>
                  <div class="div-sub-box2 ">
                    <div class="gray-highlights -ml-12">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.5 9.5H9.5C9.23489 9.49964 8.98075 9.39417 8.79329 9.20671C8.60583 9.01925 8.50036 8.76511 8.5 8.5V7H9.5V8.5H13.5V1.5H9.5V3H8.5V1.5C8.5003 1.23488 8.60576 0.9807 8.79323 0.793229C8.9807 0.605759 9.23488 0.500304 9.5 0.5H13.5C13.7651 0.500304 14.0193 0.605759 14.2068 0.793229C14.3942 0.9807 14.4997 1.23488 14.5 1.5V8.5C14.4996 8.76511 14.3942 9.01925 14.2067 9.20671C14.0193 9.39417 13.7651 9.49964 13.5 9.5Z" fill="#595959"/>
                        <path d="M5.5 4.5H3.5V5.5H5.5V4.5Z" fill="#595959"/>
                        <path d="M11.5 4.5H9.5V5.5H11.5V4.5Z" fill="#595959"/>
                        <path d="M8.5 4.5H6.5V5.5H8.5V4.5Z" fill="#595959"/>
                        <path d="M5.5 9.5H1.5C1.23488 9.4997 0.9807 9.39424 0.793229 9.20677C0.605759 9.0193 0.500304 8.76512 0.5 8.5V1.5C0.500265 1.23486 0.605707 0.980665 0.793186 0.793186C0.980665 0.605707 1.23486 0.500265 1.5 0.5H5.5C5.76514 0.500265 6.01934 0.605707 6.20681 0.793186C6.39429 0.980665 6.49974 1.23486 6.5 1.5V3H5.5V1.5H1.5V8.5H5.5V7H6.5V8.5C6.4997 8.76512 6.39424 9.0193 6.20677 9.20677C6.0193 9.39424 5.76512 9.4997 5.5 9.5Z" fill="#595959"/>
                        </svg>
                        
                        <span class="ml-1 bg-txt">     
                          {{licence_id}}</span>
                    </div>
                  </div>
                  <!-- Sub box 3 -->
                  <div class="div-sub-box2 ">
                    <div class="gray-highlights -ml-12">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.5 0H12.5V2H14.5V0Z" fill="#595959"/>
                        <path d="M14.5 3H12.5V5H14.5V3Z" fill="#595959"/>
                        <path d="M11.5 0H9.5V2H11.5V0Z" fill="#595959"/>
                        <path d="M11.5 3H9.5V5H11.5V3Z" fill="#595959"/>
                        <path d="M13.5 7V10H1.5V2H7.5V1H1.5C1.23478 1 0.98043 1.10536 0.792893 1.29289C0.605357 1.48043 0.5 1.73478 0.5 2V10C0.5 10.2652 0.605357 10.5196 0.792893 10.7071C0.98043 10.8946 1.23478 11 1.5 11H5.5V13H3.5V14H11.5V13H9.5V11H13.5C13.7652 11 14.0196 10.8946 14.2071 10.7071C14.3946 10.5196 14.5 10.2652 14.5 10V7H13.5ZM8.5 13H6.5V11H8.5V13Z" fill="#595959">
                          ....
                      </path>
                        </svg>
                        
                        <span class="ml-1 bg-txt truncate1 txt" title="{{domain_address}}">     
                          {{domain_address}}</span>
                    </div>
                  </div>
                 


                  <!-- Ratings -->
                  <div class=" flex">
                    <div class="gray-highlights -ml-12 bg-txt">
                      <i class="material-icons text-sm text-yellow-400 ">star</i>
                      {{rating}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- {{usercount_list}} -->
            <div class="flex justify-end items-center">

              <div class="flex flex-row " id="summary-blocks">

                <div class="bg-box w-fit h-16 p-2 flex mx-1 -ml-10">
                  <div class="flex-1 flex flex-col">
                    <span class="bg-box1 font-bold text-md flex-col">{{usercount_list}}</span>
                    <p class="whitespace-nowrap flex-col bg-box2 mt-2">Active Members</p>
                  </div>
                  <div class="flex-1 items-center mt-auto pl-3 py-1 w-fit">
                    <div class="flex items-center justify-center rounded-full bg-pale-blue w-8 h-8">
                       <img src="../../assets/icons/active-members.svg">
                    </div>
                  </div>
                </div>

                <div class="bg-angel-blue h-16 w-fit p-2 flex mx-1">
                  <div class="flex-1 flex flex-col">
                    <span class="bg-box1 font-bold text-md inline-flex">
                      100 <span class="bg-subbox ml-2 ">TEU</span>
                    </span>
                    
                    
                    <p class="whitespace-nowrap flex-col bg-box2 mt-2">Available for sale</p>
                  </div>
                  <div class="flex-1 items-center mt-auto pl-3 py-1 w-fit">
                    <div class="flex items-center justify-center rounded-full bg-pale-blue w-8 h-8">
                      <img src="../../assets/icons/sale.svg">
                    </div>
                  </div>
                </div>
                <div class="bg-angel-blue h-16 w-fit p-2 flex mx-1">
                  <div class="flex-1 flex flex-col">
                    <span class="bg-box1 font-bold text-md inline-flex">
                      100 <span class="bg-subbox ml-2 ">TEU</span>
                    </span>
                    <p class="whitespace-nowrap flex-col bg-box2 mt-2">Available for lease</p>
                  </div>
                  <div class="flex-1 items-center mt-auto pl-3 py-1 w-fit">
                    <div class="flex items-center justify-center rounded-full bg-pale-blue w-8 h-8">
                      <img src="../../assets/icons/lease.svg">
                    </div>
                  </div>
                </div>
                <div class="bg-angel-blue h-16 w-fit p-2 flex mx-1">
                  <div class="flex-1 flex flex-col">
                    <span class="bg-box1 font-bold text-md inline-flex">
                      100 <span class="bg-subbox ml-2 ">TEU</span>
                    </span>
                    <p class="whitespace-nowrap flex-col bg-box2 mt-2">Available for sale</p>
                  </div>
                  <div class="flex-1 items-center mt-auto pl-3 py-1 w-fit">
                    <div class="flex items-center justify-center rounded-full bg-pale-blue w-8 h-8">
                      <img src="../../assets/icons/active-members.svg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Availability boxes END -->
          </div>
        </form>
      </div>
    </div>
    <!-- Employee details section -->
    <hr class="m-2 div-bg-line" />
    <div class="div-employee">
      
      <!--Change height to fit-->
      <div class="flex flex-row justify-start ml-2 gap-20">
        <div class="flex flex-col">
          <div class="flex items-center py-2">
            <i class="material-symbols-outlined text-xs text-black mr-1">person</i>
            <div class="text-xs">Name</div>
          </div>
          <div class="font-semibold text-sm">{{fname}} {{lname}}</div>
        </div>
        
        
        <div class="flex flex-col">
          <div class="flex items-center py-2">
            <i class="material-symbols-outlined text-xs text-black mr-1">mail</i>
            <div class="text-xs">Email-Address</div>
          </div>
          <div class="font-semibold text-sm ">{{email}}</div>
        </div>
        <div class="flex flex-col">
          <div class="flex items-center py-2">
            <i class="material-symbols-outlined text-xs text-black mr-1">phone</i>
            <div class="text-xs">Phone Number</div>
          </div>
          <div class="font-semibold text-sm">{{phone}}</div>
        </div>
        
      </div>
      <div class="flex flex-row mt-4 div-bg-line">
        <button class="div-action-button" (click)="onClick()" matTooltip="Approve Ads">
          Approve Ads ({{adscount[1]}})
        </button>
        <button class="div-action-button">
          Sync Data
        </button>
        <div class="button-container relative inline-block">
          <button class="div-action-button" routerLink="/upload-contract" matTooltip="Upload Contract">
            Upload Contracts
          </button>
          <div class="dropdown flex flex-col">
            <button class="dropdown-toggle border-2 -ml-2 mr-2" (click)="toggleDropdown()" matTooltip="View Contracts">▼</button>
          
            <div class="dropdown-content -ml-[10.1rem]" [hidden]="!showDropdown">
              <button class="whitespace-nowrap mt-1"  routerLink="/view-contract" matTooltip="View Contracts" >View Contracts</button>
            </div>
 
        </div>
        </div>

        <button class="div-action-button ml-2" routerLink="/upload-inventory" matTooltip="Upload Inventory">
          Upload Inventory
        </button>


      </div>

      <!-- <br>&nbsp;&nbsp;&nbsp; -->
      <div>
      </div>


    </div>

    <br>


    <div class="font-medium bg-gray-50 flex items-center px-10">
      <div class=" text-lg font-light justify-start">User Details</div>
      <div class="div-search my-2 search justify-start mx-10 -mt-0">
        <div class="div-search-icon">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.5001 13.7929L10.7241 10.0169C11.6314 8.92758 12.0839 7.53038 11.9873 6.11596C11.8908 4.70153 11.2526 3.37879 10.2057 2.42288C9.15867 1.46698 7.78347 0.951515 6.36612 0.983723C4.94877 1.01593 3.5984 1.59333 2.59593 2.59581C1.59345 3.59828 1.01605 4.94865 0.983845 6.366C0.951637 7.78335 1.4671 9.15855 2.423 10.2055C3.37891 11.2525 4.70165 11.8907 6.11608 11.9872C7.5305 12.0838 8.9277 11.6313 10.017 10.7239L13.7931 14.5L14.5001 13.7929ZM2.00012 6.5C2.00012 5.60998 2.26404 4.73995 2.75851 3.99993C3.25297 3.25991 3.95578 2.68313 4.77804 2.34254C5.60031 2.00194 6.50511 1.91283 7.37802 2.08646C8.25094 2.2601 9.05276 2.68868 9.6821 3.31802C10.3114 3.94735 10.74 4.74918 10.9137 5.62209C11.0873 6.495 10.9982 7.3998 10.6576 8.22207C10.317 9.04434 9.7402 9.74714 9.00018 10.2416C8.26016 10.7361 7.39013 11 6.50012 11C5.30705 10.9987 4.16323 10.5241 3.3196 9.68052C2.47597 8.83689 2.00144 7.69306 2.00012 6.5Z" fill="#161616"/>
            </svg>
            
        </div>
        <input class="input-search" type="text" [(ngModel)]="searchTerm"  (input)="filterUsers()" id="search" placeholder="Search (E.g. Name, Email)" autocomplete="off" (focus)="showClearButton()"/>
    
      </div>
     
      <button color="primary"
      class="btn-primary1 text-white h-[14em]  py-3 rounded-none px-2 mr-4  font-light  ml-auto  justify-end w-fit" matTooltip="Add User"
      (click)="DisplayPostForm()">+ Add User</button>

  </div>
    <hr class="m-2" />


    <!-- Table start -->
    <div class="flex flex-col overflow-x-hidden ml-2">
        <div class="employee-list">
          <div class="overflow-x-auto">
            <table class="employee-table border-2">
              <thead class="emplist-thead">
                <tr>
                  <th scope="col" class="px-6 py-4 ml-20 border-r-2">First Name</th>
                  <th scope="col" class="px-6 py-4 border-r-2">Last Name</th>
                  <th scope="col" class="px-6 py-4 border-r-2">Email</th>
                  <th scope="col" class="px-6 py-4 border-r-2">Phone Number</th>
                  <th colspan="2" scope="col" class="px-6 py-4 border-r-2">&ensp;Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of filteredUsers | search: searchTerm  |  paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }" class="employee-add bg-white">
                  <td class="emplist ml-20 border-r-2">{{u.fname}}</td>
                  <td class="emplist border-r-2">{{u.lname}}</td>
                  <td class="emplist border-r-2">{{u.email}}</td>
                  <td class="emplist border-r-2">{{u.phone_no}}</td>
                  <td class="whitespace-nowrap px-6 py-4 border-r-2">
                    <a (click)="getUserByID(u.user_id)" class="text-CCblue"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M21.125 19.5938H3.875C3.46016 19.5938 3.125 19.9289 3.125 20.3438V21.1875C3.125 21.2906 3.20937 21.375 3.3125 21.375H21.6875C21.7906 21.375 21.875 21.2906 21.875 21.1875V20.3438C21.875 19.9289 21.5398 19.5938 21.125 19.5938ZM6.53984 17.625C6.58672 17.625 6.63359 17.6203 6.68047 17.6133L10.6227 16.9219C10.6695 16.9125 10.7141 16.8914 10.7469 16.8563L20.682 6.92109C20.7038 6.89941 20.721 6.87366 20.7328 6.8453C20.7445 6.81695 20.7506 6.78656 20.7506 6.75586C20.7506 6.72516 20.7445 6.69477 20.7328 6.66642C20.721 6.63806 20.7038 6.61231 20.682 6.59063L16.7867 2.69297C16.7422 2.64844 16.6836 2.625 16.6203 2.625C16.557 2.625 16.4984 2.64844 16.4539 2.69297L6.51875 12.6281C6.48359 12.6633 6.4625 12.7055 6.45312 12.7523L5.76172 16.6945C5.73892 16.8201 5.74707 16.9493 5.78545 17.071C5.82384 17.1927 5.89132 17.3032 5.98203 17.393C6.13672 17.543 6.33125 17.625 6.53984 17.625Z" fill="#8C8C8C"/>
                      </svg>
                      </a>
                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                    <div *ngIf="alluser_list">
                      <div *ngIf="alluser_list.length === 0">
                        <p>No users added.</p>
                      </div>
                      <div *ngIf="alluser_list.length > 0">
                        <a routerLink="/profile" (click)="deleteUserById(u.user_id)" class="text-CCblue"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M20.75 6H17.75V4.125C17.75 3.29766 17.0773 2.625 16.25 2.625H8.75C7.92266 2.625 7.25 3.29766 7.25 4.125V6H4.25C3.83516 6 3.5 6.33516 3.5 6.75V7.5C3.5 7.60313 3.58437 7.6875 3.6875 7.6875H5.10312L5.68203 19.9453C5.71953 20.7445 6.38047 21.375 7.17969 21.375H17.8203C18.6219 21.375 19.2805 20.7469 19.318 19.9453L19.8969 7.6875H21.3125C21.4156 7.6875 21.5 7.60313 21.5 7.5V6.75C21.5 6.33516 21.1648 6 20.75 6ZM16.0625 6H8.9375V4.3125H16.0625V6Z" fill="#8C8C8C"/>
                          </svg>
                          </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
    </div>
    <div class="flex gap-2 w-full justify-end">
      <button  (click)="currentPage = currentPage - 1" [class.disabled-button]="currentPage === 1" [disabled]="currentPage === 1">
        <i class="material-symbols-outlined cursor-pointer">
          navigate_before
        </i>
      </button>

      <button class="page-link"
       *ngFor="let page of getPages()" (click)="currentPage = page"
       [ngClass]="{
        'page-link-active': currentPage === page
      }"
        >

           {{page}}
      </button>

      <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === getTotalPages()">
        <i class="material-symbols-outlined cursor-pointer">
          navigate_next
        </i>
      </button>
    </div>
    <!-- Table end -->
  </div>
</div>