@tailwind base;
@tailwind components;
@tailwind utilities;

.disabled-button {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Custom scrollbar for dropdowns if needed */
.overflow-y-auto::-webkit-scrollbar {
  width: 4px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}