@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .w-13 {
      width: 8%;
    }
  }
  @layer components {
    .aspect-w-2 {
      width: 2;
    }
  }
  .disabled-button {
    cursor: not-allowed;
  }
  .employee-details-heading {
    font-size: 16px;
    font-color:rgb(40, 39, 39);
  
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    color: black;
  
  }
  @layer components {
    .aspect-h-1 {
      height: 1;
    }
  }
  /* .div-img{
    @apply w-13 aspect-w-2 aspect-h-1 object-cover mix-blend-color-burn rounded-full ;
  }
   */
.div{
  @apply flex flex-row font-poppins;
}
.div-app-sidebar{
    @apply  w-[8vw] ;
  }
/* .div-company-details{
    @apply w-full flex flex-col sm:w-fit first:flex-row;
} */
.div-editcompany{
    @apply absolute right-0 w-4 h-4 rounded-full top-8;
}
.my-button {
    
    @apply text-white bg-CCblue ml-2;
    
    }
.div-company{
    @apply w-fit text-2xl mb-[0.625rem] font-bold font-poppins flex ;
}
.div-company-name{
    @apply text-xs font-thin pt-2 px-2;
}
.gray-highlights {
    @apply flex items-center justify-center text-[0.7rem] bg-gray-50  px-1 whitespace-nowrap;
    
  }
.div-detail{
    @apply px-1 flex-1 text-sm md:overflow-hidden leading-3;
}
.div-sub-box{
    @apply flex-shrink-0 w-5  
}
.div-sub-box2{
  @apply flex-shrink-0
}
.div-box{
    @apply mx-3 w-[10em] h-[3.5em] bg-gray-100 flex;
}
.div-box-numbers{
    @apply flex-1 text-3xl font-bold flex items-center justify-center;
}
.div-box-data{
    @apply flex-1 text-sm flex items-center justify-center;
}
.div-box-number{
    @apply flex-1 text-2xl flex-col font-bold flex items-center justify-center;
}
.div-employee{
    @apply m-2 h-fit w-full flex-col;
}
.div-employee-box{
    @apply flex-1 text-xs p-2 text-gray-500 flex justify-start w-fit;
}
.div-employee-name{
    @apply text-xs px-2 first-letter:uppercase;
}
.truncate {
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .truncate1 {
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  
.div-action-button{
    @apply bg-white border-2 h-[2rem] w-fit px-[1rem] text-xs mx-1  my-3 md:text-sm flex-shrink-0;
}
.div-search{
    @apply relative flex items-center w-96 h-9  bg-white overflow-hidden border-2;
}
.div-search-icon{
    @apply grid place-items-center h-full w-12 text-black;
}
.div-bg-line{
    border-bottom: 2px solid  #E9E9E9;
  }
.input-search{
    @apply  outline-none text-sm bg-white w-full  text-black -ml-2;
}
/* Custom styles for the placeholder */
.input-search::placeholder {
    color: var(--gray-gray-7, #8C8C8C);
font-size: 0.9rem;
font-family: Poppins;
font-weight: 300;
letter-spacing: 0.02rem;
  }
.employee-list{
    @apply inline-block min-w-full py-2 ;
}
.employee-table{
    @apply min-w-full text-left text-sm font-light;
}
.emplist-thead{
    @apply border-b font-medium ;
}
.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color:#3E7BFA;
}
.employee-add{
    @apply border-b ;
}
.employee-add-btn{
    @apply whitespace-nowrap px-2 py-4 font-medium;
}
.emplist{
    @apply whitespace-nowrap px-6 py-4;
}

.label-contain {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
.page-link{
    @apply  text-xs w-7 h-7 rounded-md border-2 items-center border-angel-blue-2 
}
.page-link-active{
    @apply  text-xs text-white font-bold bg-CCblue w-7 h-7 rounded-md border-2 items-center border-angel-blue-2 
}
.btn-primary1{
    color: #ffffff;
    background-color: #2F54EB;
    height: 30px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    padding: 14px 15px;
}
.button-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background: white;
    height: 2rem;
    cursor: pointer;
    width: 3em;
    font-size: 14px;
  }
  
  .dropdown-content {
    position: absolute;
    left:0;
    background: var(--gray-gray-2, #FAFAFA);
    z-index: 1;
    width: 9.7rem;
     height: 2rem;
    margin-right: 6rem;
    margin-bottom: 0.75rem;
    flex-shrink: 0;
    border-width: 2px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  

  
  .view-contracts-button:hover {
    background-color: #f1f1f1;
  }
  .bg-img{
    background-color: #F0F5FF;
  }
  .txt{
    color: #595959;
  }
  .bg-txt{
    color: #595959;
    display: flex;
height: 1.875rem;
padding: 0.25rem;
align-items: center;
gap: 0.25rem;
  }
  .bg-div{
    background: var(--geek-blue-geekblue-1, #F0F5FF);
    display: flex;
width: 12.5rem;
height: 4.5rem;
padding: 0.5rem 1rem 0.625rem 1rem;
justify-content: center;
align-items: center;
gap: 1.9375rem;
color: var(--geek-blue-geekblue-5, #597EF7);
font-size: 1.25rem;
font-family: Poppins;
font-weight: 600;
display: flex;
padding: 0.5rem;
justify-content: center;
align-items: center;
gap: 0.5rem;
  }
  .bg-p{
    color: var(--gray-gray-9, #262626);
font-size: 0.8125rem;
font-family: Poppins;
  }

  .bg-box{
    background: var(--geek-blue-geekblue-1, #F0F5FF);
   
  }
  .bg-box1{
  
    color: var(--geek-blue-geekblue-5, #597EF7);
font-size: 1.25rem;
  }
  .bg-box2{
    color: var(--gray-gray-9, #262626);
font-size: 0.8125rem;
font-family: Poppins;
  }
  .bg-subbox{
    color: var(--gray-gray-9, #262626);
font-size: 0.75rem;
font-family: Poppins;
font-weight: 500;
  }