<header class="header-box">
  <div class="header-box-div">
    <!-- Title -->
    <div class="flex-1">
      <!-- This div will take up the remaining space -->
      <a class="header-box-a">
        <button (click)="OnClick()">
        <!-- svg for company logo (change req) -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="header-box-svg"
          viewBox="0 0 24 24"
        >
        
          <path
            d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
          ></path>
        </svg>
        </button> 
        <span class="ml-3 text-lg font-semibold text-CCblue whitespace-nowrap">Container Conundrum</span>
      </a>
    </div>


 <div class="flex-1" (click)="showFilterOptions = true">
  <div class="relative">
    <div class="flex items-center border border-gray-200 px-4 py-2">
      <!-- search bar icon -->
      <div class="search-bar-icon">
        <!-- search bar icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="gray"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </div>
      <!-- icon end -->
      <!-- input for the search bar -->
      <input
        class="ml-0 w-full bg-transparent placeholder-gray-400 focus:outline-none"
        type="text"
        id="search"
        placeholder="Search something..."
        [(ngModel)]="searchTerm"
        (blur)="showFilterOptions = false"
      />
      <!-- display selected filters -->
      <span *ngIf="selectedFilters.length > 0" class="ml-2 text-gray-500">
        {{ selectedFilters.join(', ') }}
        <span class="ml-2 cursor-pointer" (click)="clearFilters()">
          &times;
        </span>
      </span>
    </div>
    <!-- filtering options -->
    <div
      class="absolute top-full left-1/2 transform -translate-x-1/2 bg-white border border-gray-200 rounded-lg shadow-lg px-2 py-2 mt-2 w-72 text-center"
      id="filter-options"
      [ngClass]="{ hidden: !showFilterOptions }"
      (click)="stopPropagation($event)"
    >
      <label class="mb-2 mr-2">Search for</label>
      <label class="inline-flex items-center">
        <input
          type="checkbox"
          class="form-checkbox"
          name="ads"
          value="ads"
          [(ngModel)]="filterAds"
          (change)="applyFilters()"
        />
        <span class="ml-2">Ads</span>
      </label>
      <label class="inline-flex items-center ml-6">
        <input
          type="checkbox"
          class="form-checkbox"
          name="negotiation"
          value="negotiation"
          [(ngModel)]="filterNegotiation"
          (change)="applyFilters()"
        />
        <span class="ml-2">Negotiation</span>
      </label>
    </div>
  </div>
</div>


    <!-- Profile icon -->
    <div class="flex-1 mx-2 cursor-auto">
      <div class="profile-icon" (click)="showPopup = !showPopup">
        <!-- <img
          src="https://picsum.photos/200/300"
          class="header-img"
        /> -->
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        <div class="profile-div" *ngIf="showPopup" >
          <div class="profile-box">
            <a mat-button (click)="openDialog()">Edit profile</a>
            <a routerLink="../reset-password">Reset password</a>
            <button (click)="logout()" class="text-red-600" >Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</header>